---

layout: empty
title: Home

---
<div class="static-slider7" style="background-image:url(assets/images/reduceri-banner.jpeg); background-size: cover;">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center ">
            <!-- Column -->
            <div class="col-md-8 align-self-center text-center" data-aos="fade-right" data-aos-duration="1200">
                <h1 class="title text-white typewrite">TOT REDUS</h1>
                <h4 class="text-white">Cele mai mari reduceri actualizate zilnic</h4>
                <a href="#categs" class="btn btn-danger-gradiant btn-rounded btn-md btn-arrow m-t-20"><span>CATEGORII <i class="ti-arrow-right"></i></span></a>
                
            </div>
            <!-- Column -->
            
        </div>
    </div>
</div>

<a id="categs"></a>
<div class="spacer feature24">
    <div class="container">
        <!-- Row -->
        <div class="row justify-content-center">
            <div class="col-md-7 text-center"> <span class="label label-success label-rounded">PROFITĂ ACUM</span>
                <h2 class="title">CATEGORII</h2>
                <h6 class="subtitle">CELE MAI MARI REDUCERI!</h6>
            </div>
        </div>
        <!-- Row -->
        <div class="row wrap-feature-24">
            <!-- Column -->
			{% assign posts = site.posts %}
				{% for post in posts %}
					{% if post.index == 1 %} 
            <div class="col-lg-3 col-md-6">
                <div class="card card-shadow">
                    <a href="{{ post.url | absolute_url }}" class="service-24"> <i class="{{ post.icon }}"></i>
                        <h6 class="ser-title" style="font-weight: 900">{{ post.title | upcase }}</h6>
                    </a>
                </div>
            </div>
			{% endif %}{% endfor %}
            <!-- Column -->
            <div class="col-md-12 m-t-20 text-center"> <a class="btn btn-outline-success btn-md btn-arrow" data-toggle="collapse" href=""><span>VEZI TOATE CATEGORIILE <i class="ti-arrow-right"></i></span></a></div>
        </div>
    </div>
</div>

 <div class="bg-light spacer feature20 up">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <span class="label label-success label-rounded">TOP REDUCERI</span>
                <h2 class="title">CELE MAI MARI REDUCERI</h2>
                <h6 class="subtitle">Vezi care sunt cele mai mari reduceri astăzi</h6>
            </div>
        </div>
        <!-- Row  -->
        <div class="row wrap-feature-20">
            <!-- Column -->
			{% assign posts = site.posts %}
				{% for post in posts limit: 7 %}
					{% if post.index == 1 %} 
						            
            <div class="col-lg-6" data-aos="flip-left" data-aos-duration="1200">
                <div class="card">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card-body d-flex no-block">
                                <div class="m-r-20">
			
									<span><i class="{{ post.icon }}" style="font-size: 46px; color: #07d79c"></i></span>
									
								</div>
                                <div>
                                    <h5 class="font-medium">Până la <span class="day">
										{% assign products = site.data.prod_org[ post.category ] %} 
										{% for product in products limit:1 %}
											{{ product.discount | strip }}%
										{% endfor %}
										</span >în categoria <span class="day-title">{{ post.title | upcase }}</span>
									</h5>
								</div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="{{ post.url | absolute_url }}" class="text-white linking bg-success-gradiant">Vezi Produse <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
				{% endif %}
			{% endfor %}
            <!-- Column -->
            
            <div class="col-md-12 m-t-40 text-center">
                <a class="btn btn-success-gradiant btn-md btn-arrow" data-toggle="collapse" href="http://localhost:4000/jachete%20si%20paltoane/pg1.html"><span>MAI MULTE REDUCERI <i class="ti-arrow-right"></i></span></a>
            </div>
        </div>
        <!-- Row  -->
    </div>
</div>


<div class="container">
 <div class="row listrecent">
        {% assign posts = site.posts %}
		{% for post in posts %}
            {% if post.index == 1 %}
				{% include postbox.html %}          
            {% endif %}
        {% endfor %}
       
    </div>
</div>