---

layout: empty
title: Home

---
<div class="static-slider7" style="background-image:url(assets/images/reduceri-banner.jpeg)">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center ">
            <!-- Column -->
            <div class="col-md-8 align-self-center text-center" data-aos="fade-right" data-aos-duration="1200">
                <h1 class="title text-white typewrite">TOT REDUS</h1>
                <h4 class="text-white">Awesome Extra Ordinary Flexibility</h4>
                <a class="btn btn-danger-gradiant btn-rounded btn-md btn-arrow m-t-20" data-toggle="collapse" href=""><span>Products <i class="ti-arrow-right"></i></span></a>
                <a class="btn btn-outline-light btn-rounded btn-md m-t-20" data-toggle="modal" data-target="#static-slide7"  href=""><i class="fa fa-play m-r-10"></i> Intro </a>
            </div>
            <!-- Column -->
            <div class="modal fade" id="static-slide7">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Watch video</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body" id="yt-player">
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/DDwbjWCgxVM?" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light spacer feature20 up">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <span class="label label-success label-rounded">Feature 20</span>
                <h2 class="title">Awesome with Extra Ordinary Flexibility</h2>
                <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
            </div>
        </div>
        <!-- Row  -->
        <div class="row wrap-feature-20">
            <!-- Column -->
            <div class="col-lg-6" data-aos="flip-left" data-aos-duration="1200">
                <div class="card">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card-body d-flex no-block">
                                <div class="m-r-20"><img src="assets/images/reduceri-banner.jpeg" width="70" class="rounded" /></div>
                                <div>
                                    <h5 class="font-medium">Make your website in no-time with us.</h5></div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="javascript:void(0)" class="text-white linking bg-success-gradiant">Lets Talk <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-6" data-aos="flip-right" data-aos-duration="1200">
                <div class="card">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card-body d-flex no-block">
                                <div class="m-r-20"><img src="assets/images/reduceri-banner.jpeg" width="70" class="rounded" /></div>
                                <div>
                                    <h5 class="font-medium">Make your website in no-time with us.</h5></div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="javascript:void(0)" class="text-white linking bg-success-gradiant">Lets Talk <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-6" data-aos="zoom-in" data-aos-duration="1200">
                <div class="card">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card-body d-flex no-block">
                                <div class="m-r-20"><img src="assets/images/reduceri-banner.jpeg" width="70" class="rounded" /></div>
                                <div>
                                    <h5 class="font-medium">Make your website in no-time with us.</h5></div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="javascript:void(0)" class="text-white linking bg-success-gradiant">Lets Talk <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-6" data-aos="zoom-in" data-aos-duration="1200">
                <div class="card">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card-body d-flex no-block">
                                <div class="m-r-20"><img src="assets/images/reduceri-banner.jpeg" width="70" class="rounded" /></div>
                                <div>
                                    <h5 class="font-medium">Make your website in no-time with us.</h5></div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="javascript:void(0)" class="text-white linking bg-success-gradiant">Lets Talk <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-md-12 m-t-40 text-center">
                <a class="btn btn-success-gradiant btn-md btn-arrow" data-toggle="collapse" href="#f20"><span>View Feature20 code <i class="ti-arrow-right"></i></span></a>
            </div>
        </div>
        <!-- Row  -->
    </div>
</div>
<div class="spacer feature24">
    <div class="container">
        <!-- Row -->
        <div class="row justify-content-center">
            <div class="col-md-7 text-center"> <span class="label label-success label-rounded">Feature 24</span>
                <h2 class="title">Services you can Relay Upon</h2>
                <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
            </div>
        </div>
        <!-- Row -->
        <div class="row wrap-feature-24">
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card card-shadow">
                    <a href="javascript:void(0)" class="service-24"> <i class="icon-Target"></i>
                        <h6 class="ser-title">Retargeting Market</h6>
                    </a>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card card-shadow">
                    <a href="javascript:void(0)" class="service-24"> <i class="icon-Car-Wheel"></i>
                        <h6 class="ser-title">Digital Marketing</h6>
                    </a>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card card-shadow">
                    <a href="javascript:void(0)" class="service-24"> <i class="icon-Mouse-3"></i>
                        <h6 class="ser-title">SEO Techniques</h6>
                    </a>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card card-shadow">
                    <a href="javascript:void(0)" class="service-24"> <i class="icon-Angry"></i>
                        <h6 class="ser-title">Client Management</h6>
                    </a>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card card-shadow">
                    <a href="javascript:void(0)" class="service-24"> <i class="icon-Target-Market"></i>
                        <h6 class="ser-title">Email Campaign</h6>
                    </a>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card card-shadow">
                    <a href="javascript:void(0)" class="service-24"> <i class="icon-Laptop-Phone"></i>
                        <h6 class="ser-title">Website Strategy</h6>
                    </a>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card card-shadow">
                    <a href="javascript:void(0)" class="service-24"> <i class="icon-Full-Bag"></i>
                        <h6 class="ser-title">eCommerce Shop</h6>
                    </a>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card card-shadow">
                    <a href="javascript:void(0)" class="service-24"> <i class="icon-Eyeglasses-Smiley"></i>
                        <h6 class="ser-title">Cloud Hosting</h6>
                    </a>
                </div>
            </div>
            <!-- Column -->
            <div class="col-md-12 m-t-20 text-center"> <a class="btn btn-outline-success btn-md btn-arrow" data-toggle="collapse" href="#f24"><span>View Feature24 code <i class="ti-arrow-right"></i></span></a></div>
        </div>
    </div>
</div>



<div class="row">
<!-- Posts Index
================================================== -->

</div>
<!-- CATEGORII 
					==================================================
					<div class="mainheading">
						<h1 class="sitetitle">CATEGORII</h1>
					</div>
						<div class="section-title">
							<h2><span>TOATE REDUESE</span></h2>
						</div> -->

<section id="categorii" class="recent-posts">
    <div class="row listrecent">
        {% assign posts = site.posts %}
		{% for post in posts %}
            {% if post.index == 1 %}
				{% include postbox.html %}          
            {% endif %}
        {% endfor %}
       
    </div>
    
</section>
 
<script src="{{ site.baseurl }}/assets/js/type.js"></script>


<script type="text/javascript">
 $('.feature-35-owl').owlCarousel({
        loop: true,
        margin: 30,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1,
                nav: false
            },
            1000: {
                items: 2,
                nav: false
            },
            1650: {
                items: 3,
                nav: false,
                loop: false
            }
        }
    })
</script>
