---

layout: empty
title: TOTREDUS.RO
sitemap: "yes"
date: 2023-04-20
date-modifed: 2023-06-14
description: "Ghidul tău de încredere într-o lume în mișcare!"


---

<div id="recente"; class="static-slider2 spacer" style="background-color: #1d1d1d!important; padding: 20px;">

  
<div class="container" style="max-width: 70%;">
<h2 class="title fade-in" style="margin-left: -10px;line-height: 45px;">RECENTE<span class="text-megna">.</span></h2>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-12 post">
					{% assign stiri = site.smarthome | sort: 'date' | reverse %}
					{% for post in stiri limit:1 %}
          <div class="post-content" style="background-image: url('/assets/images/{{ post.image_path }}');">
            <div class="grad-back">
              <h2 class="post-title-2 post-title">{{ post.title }}</h2>
              <a class="btn btn-success-gradiant post-btn" href="{{ post.url }}">CITEȘTE ➤</a>
            </div>
          </div>
					{% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-6 post">
					{% assign stiri = site.travel | sort: 'date' | reverse %}
					{% for post in stiri limit:1 %}
          <div class="post-content" style="background-image: url('{{ post.image }}');">
            <div class="grad-back">
              <h2 class="post-title">{{ post.title }}</h2>
              <a class="btn btn-success-gradiant post-btn" href="{{ post.url }}">CITEȘTE ➤</a>
            </div>
          </div>
					{% endfor %}
        </div>
        <div class="col-6 post">
					{% assign stiri = site.travel | sort: 'date' | reverse %}
					{% for post in stiri offset:1 limit:1 %}
          <div class="post-content" style="background-image: url('{{ post.image }}');">
            <div class="grad-back">
              <h2 class="post-title">{{ post.title }}</h2>
              <a class="btn btn-success-gradiant post-btn" href="{{ post.url }}">CITEȘTE ➤</a>
            </div>
          </div>
					{% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-6 post">
					{% assign stiri = site.new-reviews | sort: 'date' | reverse %}
					{% for post in stiri limit:1 %}
          {% if post.image_path != "" %}
          <div class="post-content" style="background-image: url('/assets/images/reviews/{{ post.image_path }}');">
          {% else %}
          <div class="post-content" style="background-image: url('{{ post.imagine-transparent-mobile }}'); background-size: contain; background-color: black;background-repeat: no-repeat;">
          {% endif %}
            <div class="grad-back">
              <h2 class="post-title">{{ post.title }}</h2>
              <a class="btn btn-success-gradiant post-btn" href="{{post.url}}">CITEȘTE ➤</a>
            </div>
          </div>
					{% endfor %}
        </div>
       <div class="col-6 post">
					{% assign stiri = site.new-reviews | sort: 'date' | reverse %}
					{% for post in stiri offset:1 limit:1 %}
          {% if post.image_path != "" %}
          <div class="post-content" style="background-image: url('/assets/images/reviews/{{ post.image_path }}');">
          {% else %}
          <div class="post-content" style="background-image: url('{{ post.imagine-transparent-mobile }}'); background-size: contain; background-color: black;background-repeat: no-repeat;">
          {% endif %}
            <div class="grad-back">
              <h2 class="post-title">{{ post.title }}</h2>
              <a class="btn btn-success-gradiant post-btn" href="{{post.url}}">CITEȘTE ➤</a>
            </div>
          </div>
					{% endfor %}
        </div>
      </div>
      <div class="row">
         <div class="col-12 post">
					{% assign stiri = site.stiri | sort: 'date' | reverse %}
					{% for post in stiri offset:1 limit:1 %}
          <div class="post-content" style="background-image: url('/assets/images/{{ post.image_path }}');">
            <div class="grad-back">
              <h2 class="post-title-2 post-title">{{ post.title }}</h2>
              <a class="btn btn-success-gradiant post-btn" href="{{ post.url }}">CITEȘTE ➤</a>
            </div>
          </div>
					{% endfor %}
        </div>
      </div>
    </div>
		
		<div class="col-12" id="smarthome">
      <h2 class="title fade-in" style="margin-left: -10px;line-height: 45px; padding-top: 30px;">SMARTHOME<span class="text-megna">.</span></h2>
      <div class="row">
				{% assign stiri = site.smarthome | sort: 'date' | reverse %}
				{% for post in stiri limit:4 %}
        <div class="col-lg-3 post">
          <div class="post-content" style="background-image: url('/assets/images/{{ post.image_path }}');">
            <div class="grad-back">
              <h2 class="post-title-2 post-title">{{ post.title }}</h2>
              <a class="btn btn-success-gradiant post-btn" href="{{ post.url }}">CITEȘTE ➤</a>
            </div>
          </div>
        </div>
				{% endfor %}
    </div>
		
		
		 <div class="col" id="casa">
      <h2 class="title fade-in" style="margin-left: -10px;line-height: 45px; padding-top: 30px;">CASĂ SI GRĂDINĂ<span class="text-megna">.</span></h2>
      <div class="row">
				{% assign stiri = site.stiri | where: "cat", "CASA SI GRADINA" | sort: 'date' | reverse %}
				{% for post in stiri limit:6 %}
        <div class="col-lg-4 post">
          <div class="post-content" style="background-image: url('/assets/images/{{ post.image_path }}');">
            <div class="grad-back">
              <h2 class="post-title-2 post-title">{{ post.title }}</h2>
              <a class="btn btn-success-gradiant post-btn" href="{{ post.url }}">CITEȘTE ➤</a>
            </div>
          </div>
        </div>
				{% endfor %}
      </div> 
    </div>
		
		
		
			
		 <div class="col-12" id="review">
      <h2 class="title fade-in" style="margin-left: -10px;line-height: 45px; padding-top: 30px;">REVIEW<span class="text-megna">.</span></h2>
      <div class="row">
				{% assign stiri = site.new-reviews | sort: 'date' | reverse %}
					{% for post in stiri offset:2 limit:8 %}
				<div class="col-lg-3 col-6 post">
          {% if post.image_path != "" %}
          <div class="post-content rowf4" style="background-image: url('/assets/images/reviews/{{ post.image_path }}');">
          {% else %}
          <div class="post-content rowf4" style="background-image: url('{{ post.imagine-transparent-mobile }}'); background-size: contain; background-color: black; background-repeat: no-repeat;">
          {% endif %}
            <div class="grad-back">
              <h2 class="post-title">{{ post.title }}</h2>
              <a class="btn btn-success-gradiant post-btn" href="{{ post.url }}">CITEȘTE ➤</a>
            </div>
          </div>
        </div>
				{% endfor %}
    </div>	
		
		
		
		
		 <div class="col-12" id="travel">
      <h2 class="title fade-in" style="margin-left: -10px;line-height: 45px; padding-top: 30px;">CALĂTORII<span class="text-megna">.</span></h2>
      <div class="row">
				{% assign stiri = site.travel | sort: 'date' | reverse %}
				{% for post in stiri offset:1 limit:8 %}
				<div class="col-lg-6 col-12 post">
          <div class="post-content rowing" style="background-image: url({{ post.image }});">
            <div class="grad-back">
              <h2 class="post-title-2 post-title">{{ post.title }}</h2>
              <a class="btn btn-success-gradiant post-btn" href="{{ post.url }}">CITEȘTE ➤</a>
            </div>
          </div>
        </div>
				{% endfor %}
      </div>
    </div>	
		
		
		 <div class="col-12" id="financiar">
      <h2 class="title fade-in" style="margin-left: -10px;line-height: 45px; padding-top: 30px;">FINANCIAR<span class="text-megna">.</span></h2>
      <div class="row">
				{% assign stiri = site.stiri | where: "categorie", "FINANCIAR" | sort: 'date' | reverse %}
				{% for post in stiri limit:6 %}
        <div class="col-lg-4 post">
          <div class="post-content" style="background-image: url('/assets/images/{{ post.image_path }}');">
            <div class="grad-back">
              <h2 class="post-title-2 post-title">{{ post.title }}</h2>
              <a class="btn btn-success-gradiant post-btn" href="{{ post.url }}">CITEȘTE ➤</a>
            </div>
          </div>
        </div>
				{% endfor %}
      </div>

    </div>
		
		
  </div>
</div>

</div>
</div>
	
	
<div class="static-slider2 spacer" style="background-color: rgb(244, 248, 250) !important;">
    <div class="container">
        <!-- Row  -->
        <div class="row">
            <!-- Column -->
            <div class="col-md-5 align-self-center">
                <h5 class="title">RECENZII<span class="text-megna">.</span></h5>
                <h6 class="subtitle" style="color: #4d4f55; font-weight: bold;">Citește recenzii, păreri, vezi specificații și imagini, află cele mai recente informații despre produsele de top de pe piață!</h6>
                <a class="btn btn-success-gradiant btn-md btn-arrow m-t-20 m-b-10" href="/review/"><span>CITEȘTE ➤</span></a>
            </div>
            <!-- Column -->
            <div class="col-md-7 img-anim">
                <img src="/assets/images/stars.webp" alt="wrapkit" class="img-fluid m-t-20" width="650" height="650"/>
            </div>
        </div>
    </div>
</div>

<div class="static-slider2 spacer" style="background-color: rgb(220, 220, 220) !important;">
    <div class="container">
        <!-- Row  -->
        <div class="row">
            <!-- Column -->
            <div class="col-md-5 align-self-center">
                <h5 class="title">CĂLĂTORII<span class="text-megna">.</span></h5>
                <h6 class="subtitle" style="color: #4d4f55; font-weight: bold;">Vezi cele mai bune destinații la cele mai bune prețuri!</h6>
                <a class="btn btn-success-gradiant btn-md btn-arrow m-t-20 m-b-10" href="/travel/"><span>CITEȘTE ➤</span></a>
            </div>
            <!-- Column -->
            <div class="col-md-7 img-anim">
                <img src="/assets/images/travel.webp" alt="planeta pamant inconjurata de avione si alte moduri de transport" class="img-fluid m-t-20" width="600" height="600"/>
            </div>
        </div>
    </div>
</div>

<div class="static-slider2 spacer" style="background-color: rgb(244, 248, 250) !important;">
    <div class="container">
        <!-- Row  -->
        <div class="row">
            <!-- Column -->
            <div class="col-md-5 align-self-center">
                <h5 class="title">BLOG<span class="text-megna">.</span></h5>
                <h6 class="subtitle" style="color: #4d4f55; font-weight: bold;">Fii în trend cu ultimele noutăți din mai multe domenii</h6>
                <a class="btn btn-success-gradiant btn-md btn-arrow m-t-20 m-b-10" href="/stiri/"><span>CITEȘTE ➤</span></a>
            </div>
            <!-- Column -->
            <div class="col-md-7 img-anim">
                <img src="/assets/images/blog.webp" alt="wrapkit" class="img-fluid m-t-20" width="600" height="416"/>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
                <!-- Contact 2  -->
                <!-- ============================================================== -->
                <div class="contact2" id="contact" style="background-color: white;">
                    <div class="container">
                        <div class="row contact-container">
                            <div class="col-lg-12">
                                <div class="card card-shadow">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="contact-box p-40">
                                                <h2 class="title">CONTACT<span class="text-megna">.</span></h2>
                                                <form action="https://getform.io/f/99d053fb-af5a-4342-ae39-1ce17d6c1bea" method="post">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group m-t-20">
                                                                <input class="form-control" type="text" placeholder="nume" name="nume">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group m-t-20">
                                                                <input class="form-control" type="text" placeholder="email" name="email">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="form-group m-t-20">
                                                                <input class="form-control" type="text" placeholder="subiect" name="subiect">
                                                            </div>
                                                        </div>                                                      
                                                        <div class="col-lg-12">
                                                            <div class="form-group m-t-20">
                                                                <input class="form-control" type="text" placeholder="mesaj" name="mesaj">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <button type="submit" class="btn btn-danger-gradiant m-t-20 btn-arrow"><span> TRIMITE <i class="icon-Mail-Send"></i></span></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 bg-image" style="background-image:url(assets/images/contact.webp)">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Contact 2  -->
                <!-- ============================================================== -->
<style>

@media only screen and (max-width: 600px) {

	.rowf4 {
		height: 280px !important;	
	}
	.container {
		min-width: 100%;
	}
	.static-slider2 {
		padding: 5px !important;
	}
	.post-content {
		height: 200px !important;
	}
	.post-title {
		font-size: 13px !important;
		padding-top: 3px !important;
	}
	.post-title-2 {
		font-size: 17px !important;
	}
	.post-btn {
		font-size: 14px;
	}
	.post {
		padding: 4px !important;
	}
}
.rowing {
	height: 250px !important;	
	}
.post {
	padding: 10px;
}
.grad-back {
	background: linear-gradient(#00000094,#0000005c, #00000029, #00000000);
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 5px;
	}
.rowf4 {
	height: 380px;	
	}
.post-content {
	text-align: left;
	background-color: #ffff;
	border-radius: 5px;
  box-shadow: 0 0 21px -5px #0707074a;
	height: 350px;
	position: relative;
	transition: 0.3s;
	background-size: cover;
	background-position: center;
	color: white;
	}
	.post-content:hover {
		box-shadow: none;
	}
.post-title {
    font-size: 23px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
		padding: 5px;
		padding-top: 20px;
		font-weight: 600;
		text-shadow: 0px 0px 13px #000000;
}

.post-btn {
  margin-top: 20px;
	position: absolute;
	bottom: 15px;
	left: 15px;
	font-weight: bold;
}
	.post-btn:hover {
		left: 12px;
	}
	
.fade-in {
color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 */
  }
}

	.fly-in {
  position: relative;
  left: -100%;
  animation: fly-in 1s ease-out forwards;
}

@keyframes fly-in {
  to {
    left: 0;
  }
}
</style>