---

layout: default
title: Home
cat: blugi
cat1: rochii
cat2: fuste
---
<section class="recent-posts">
    
<div class="section-title row">

<h2 class="col-lg-6 col-6"><span>{{ page.category | upcase }}  </span></h2>
<div class="col-lg-6 col-6 sorting">
	<div class="btn-group sort-btn" style="margin-bottom: 3px;" role="group" aria-label="Sort by price">
		<span class="filt">PRET</span>
		<button type="button" class="filt" data-sort="price:asc"><i class="fas fa-chevron-up"></i></span></button>
		<button type="button" class="filt" data-sort="price:desc"><i class="fas fa-chevron-down"></i></span></button>
	</div>
	<div class="btn-group sort-btn" style="margin-bottom: 3px;" role="group" aria-label="Sort by discount">
		<span class="filt">DISCOUNT</span>
		<button type="button" class="filt" data-sort="discount:desc"><i class="fas fa-chevron-down"></i></span></button>
	</div>
			<select class="select-sort">
				<option value="discount:desc">DISCOUNT %</option>
				<option value="price:asc">PRET CRESC</option>
                <option value="price:desc">PRET DESC</option>
            </select>
</div>
	
	<div class="mixing col-lg-12">
		{% assign prod = site.data.prod_org[ page.category ] %}
		{% capture adv %}{% for adv_name in prod %}<button type="button" class="filt" style="flex: 0 0 auto;" data-toggle=".{{ adv_name.adv_name | remove: ".ro" }}">{{ adv_name.adv_name | upcase | remove: ".ro"}}</button>, {% endfor %}{% endcapture %}
		{{ adv | split: ", " | uniq }} 
	</div>	
	
</div>
<hr>

	<div class="controls-pagination">
            <div class="mixitup-page-list"></div>
        </div>	
<hr>
	  <div class="row container1">
	

		{% assign products = site.data.doar_reduse | sort: "discount" | reverse %}  
		  {% if products.category == page.cat or products.category == page.cat1 or products.category == page.cat2 %}
			{% for product in products %}
		  		
					{% include product.html %}
			{% endfor %}{% endif %}
    </div>

<div class="controls-pagination">
            <div class="mixitup-page-list"></div>
        </div>

<script src="{{ site.baseurl }}/assets/js/mixitup.js"></script>
<script src="{{ site.baseurl }}/assets/js/mixitup-pagination.min.js"></script>
   <script>
	   
	var containerEl = document.querySelector('.container1');
			
	var mixer = mixitup(containerEl, {
    
	pagination: {
        limit: 20,
		maxPagers: 3
    } 
	});
    </script>


 




















