---

layout: empty
title: Categorii

---
<div class="static-slider7" >
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center ">
            <!-- Column -->
            <div class="col-md-8 align-self-center text-center">
                <h1 class="title text-white">CATEGORII</h1>
                               
            </div>
            <!-- Column -->
            
        </div>
    </div>
</div>


		
			<div class="spacer feature2">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <span class="label label-info label-rounded">Feature 2</span>
                <h2 class="title">Awesome with Extra Ordinary Flexibility</h2>
                <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
            </div>
        </div>
        <div class="row m-t-40">
		{% assign products = site.data.pegas %}  
			{% for product in products limit: 5 %}
			{% if product.category == "Cartuse & Tonere" or product.category == "Accesorii telefoane mobile" %}
			
        
            <!-- Column -->
            <div class="col-md-4 wrap-feature2-box">
                <div class="card card-shadow" data-aos="flip-left" data-aos-duration="1200">
                    <img class="card-img-top" src="{{ product.image_urls }}" alt="wrappixel kit" />
                    <div class="card-body text-center">
                        <h5 class="font-medium"> {{ product.title }}</h5>
                        <p class="m-t-20">{{ product.price }} RON</p>
						<p class="m-t-20">{{ product.category }} RON</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <div class="col-md-12 m-t-20 text-center">
                <a class="btn btn-info-gradiant btn-md btn-arrow"><span>View Feature2 code <i class="ti-arrow-right"></i></span></a>
            </div>
        </div>
    </div>
</div>
		
<style>
.wrap-feature2-box .card-body {
  padding: 40px;
}
</style>