---

layout: page
title: Travel
permalink: /travel/

---

<div>
	
</div>
<div class="row reviews-wrapper">
	<div id="outputReview" class="row col-lg-9">
		{% for trip in site.travel %}
		{% include travel.html %}
	{% endfor %}
	</div>
	{% include sidebar-loop-review.html %}
</div>

<style>
	@media (max-width: 570px) {
	.cat-small {
		margin-left: 0;
	}
	.card-wrapper {
		padding-left: 0;
		padding-right: 0;
	}
	#outputReview {
    padding-left: 0;
		padding-right: 0;
	}
}
	#outputReview {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
	}
	.reviews-wrapper {
		margin-left: 0;
		margin-right: 0;
	}
	.scor-scris {
		color: white;
		font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
	}
	.layer1 {
		color: lightgray;
	}
	.layer2 {
		color: yellow;
		position: absolute;
    left: 0px;
    overflow: hidden;
	}
	.rev-card-col {
		padding-left: 5px;
		padding-right: 5px;
	}
	.rev-card {
		border: solid 1px whitesmoke;
		border-radius: 3px;
	}
	.rev-title {
		padding: 10px;
	}
	.rev-title h3 {
		color: black;
    font-size: 14px;
    line-height: 1.5;
    height: 44px;
    overflow: hidden;
	}
	.rev-title a {
		background: red;
	}	
	.box-pos {
		background: black;
		box-shadow: 0 0 10px 1px lightgray;
		border-radius: 3px;
	}
	#categorie-selectata:after {
		content: "\f00d"; /* FontAwesome Unicode */
    font-family: FontAwesome;
		margin-left: 10px;
	}
	.cat-small {
		margin-bottom: 10px;
		margin-left: 30px;
	}
	.small-scor {
		position: absolute;
    top: 7px;
    right: 7px;
    border: solid;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50px;
    font-weight: 800;
    background: white;
	}
	
	
	
	.card-test {
	background: #000;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0, 0.5);
  padding: 0;
	}

.card-test .poster {
  position: relative;
  overflow: hidden;
	height: 400px;
	background-size: cover;
	background-position: center;
}

.card-test .poster:before {
  content: "";
  position: absolute ;
 	bottom: -130px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,#000 50%, transparent);
  transition: 0.5s;
  z-index: 1;
}

.card-test:hover .poster:before {
  bottom: 0;
}

.card-test .poster img {
  width: 100%;
  transition: 0.5s;
}

.card-test:hover .poster img {
  filter: blur(2px);
  transform: translateY(-30px);
}

.details {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 74%;
  bottom: -133px;
  left: 0;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2;
}

.card-test:hover .details {
  bottom: 0;
}

.details h2 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 20px;
	height: 73px;
  overflow: hidden;
}

.rating-stars {
 position: relative;
 display: inline-block;
}

.rating .fa {
  color: #f7f406;
  margin-right: 2px;
  font-size: 16px;
}

.rating span {
  color: #fff;
  padding: 0 5px;
}

.tags {
  position: relative;
  margin-top: 2px;
}

.tags span {
  padding: 0 5px;
  margin-right: 2px;
	margin-left: 2px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
}

.tags span.fantasy {
  background: black;
}


.info {
  color: #fff;
}

.info p {
  margin: 15px, 0, 10px;
	font-size: 14px;
	font-style: italic;
	font-weight: 400;
	margin-bottom: 3px;
	height: 79px;
  overflow: hidden;
}

.star {
  position: relative;
}

.star h4 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #f7f406
}

.star ul {
  margin: 10px 0 0;
  padding: 0;
  display: flex;
}

.star ul li {
  list-style: none;
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 6px;
  border: 2px solid #fff;
}

.star ul li img {
  width: 100%;
}
	.author-small {
	font-size: 14px;
  color: #ff9800;
	font-weight: 800;
	}
	.tags .bottom-tag {
		color: black;
	}
	.bottom-tag {
		background: white;
    font-size: 11px;
    font-weight: 500;
	}
	.read-more {
		float: right;
    background: goldenrod;
    color: white !important;
    font-size: 14px;
    padding: 4px 21px;
		font-weight: 800;
	}
	.read-more:hover i {
		animation: pulse 1s ease-out infinite alternate;
	}
	@keyframes pulse {
  0% {
    transform: translateX(0px);
  }
	33% {
    transform: translateX(3px);
  }
	66% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(3px);
  }
}
	.card-wrapper {
		padding-bottom: 15px;
		padding-left: 0;
	}
</style>