<div class="link-to">
<span class="vezi-si">Vezi și:</span>
<div class="row" markdown="1">
<div class="col-lg-2 col-3 image-cust" style="text-align: center;">
  <div class="container-imaglink">
    <img src="/assets/images/svg/related.svg" alt="icon for related text" width="65" height="65">
  </div>
  </div>
<div class="col-lg-10 col-9 text-cust">
   <!-- example position -->
  {% assign cycle_index = {{page.position}} | minus: 1 | modulo: 3 %}
  
  {% assign orasid = site.new-travel | where: "cat", "oras" | where: "id-oras", "{{page.id-oras}}" | first %}{% if orasid %}<a href="{{ orasid.url }}" class="link-cust">{{ orasid.anchors[cycle_index] }}</a>{% endif %}
  <br>
</div>

</div>
</div>