{% for post in site.data.search %}
{% if post.url == include.link %}
<div class="link-to">
<span class="vezi-si">Vezi și:</span>
<div class="row" markdown="1">
<div class="col-lg-2 col-3 image-cust" style="text-align: center;">
  <div class="container-imaglink">
    <img src="/assets/images/svg/related.svg" alt="{{ post.title }}" width="65" height="65">
  </div>
  </div>
<div class="col-lg-10 col-9 text-cust">
  <a href="{{ post.url }}" class="link-cust">{{ post.title }}</a>
  <br>
</div>

</div>
</div>
{% endif %}
{% endfor %}