<div class="row" style="margin-top: 40px; margin-bottom: 50px;">
  
  <div class="col-lg-3 col-6 pad">
    <div class="top-menu">
    <a href="#galerie-photo-atractie">POZE</a><img src="/assets/images/svg/galerie-photo.svg">
    </div>
  </div>
  
  <div class="col-lg-3 col-6 pad">
    <div class="top-menu">
    <a href="#harta-atractii-apropiere">HARTĂ</a><img src="/assets/images/svg/map-top.svg">
    </div>
  </div>
  
  <div class="col-lg-3 col-6 pad">
    <div class="top-menu">
    <a href="#detalii">DETALII</a><img src="/assets/images/svg/detalii.svg">
    </div>
  </div>

  <div class="col-lg-3 col-6 pad">
    <div class="top-menu">
    <a href="#">RECENZII</a><img src="/assets/images/svg/comentariu.svg">
    </div>
  </div>
</div>

<style>
@media only screen and (max-width: 600px) {
  .top-menu a {
    font-size: medium !important;
    margin-left: 3px !important;
    position: relative !important;
    top: 12px !important;
  }
}  

  .pad {
    padding: 5px;
  }
  .top-menu {
    border: solid 1px #f3eeee;
    border-radius: 5px;
    max-width: 740px;
    padding: 5px;
    box-shadow: 0 0 10px -7px #00000091;
    height: 63px;
  }
  .top-menu a {
    font-weight: 800;
    font-size: xx-large;
    margin-left: 10px;
  }
  .top-menu img {
    float: right;
  }

</style>