<div class="card-wrapper col-lg-6">
	<div class="for-style">
  {% if trip.image contains "transparent" %}
	<div class="imagine-post" style="background-image: url({{ trip.image }}); background-size: contain; background-color: black;">
  {% else %}
  <div class="imagine-post" style="background-image: url({{ trip.image }})">
  {% endif %}
	</div>
	<div class="footer-post">
		<h4>{{ trip.title }}</h4>
		<p>{{ trip.description }}</p>
		<a href="{{ trip.url }}"><button>Citeste</button></a>
	</div>
	</div>
</div>

