{% if page.author-link %}
{% if page.author == "Fabrica de amintiri" %}
<div class="card">
    <div class="img">
      <img src="/assets/images/fabrica.webp" alt="poza profil fabrica de amintiri" width="100" height="100">
    </div>
    <div class="infos">
      <div class="name">
				<h2>FABRICA DE AMINTIRI</h2>
        <a href="https://www.youtube.com/@FabricaDeAmintiri"><h3><img class="ico" src="/assets/images/svg/youtube.svg" alt="youtube icon" width="30" height="20" target="_blank">@FabricaDeAmintiri</h3></a>
				
      </div>
      <p class="text">
        👫 Salutare! Noi suntem Damian și Simina, un cuplu de îndrăgostiți, îndrăgostit de călătorii. 😜
      </p>
      <div class="links">
        <a href="{{ site.url }}/autor/fabrica-de-amintiri/"><button class="view">PROFIL</button></a>
      </div>
    </div>
  </div>
{% elsif page.author == "Alex P." %}
<div class="card">
    <div class="img">
      <img src="/assets/images/alexp1.webp" alt="poza profil alex p" width="100" height="100">
    </div>
    <div class="infos">
      <div class="name">
				<h2>Alex P.</h2>
				<p>🍳 🏆 🏠 💱</p>
      </div>
      <p class="text">
        Salut! Sunt Alex și sunt pasionat de cele mai noi gadgeturi și accesorii, dispozitive inteligente și inovații. Explorez lumea tehnologiei cu entuziasm și o abordare critică.
      </p>
      <div class="links">
        <a href="{{ site.url }}/autor/alexp/"><button class="view">PROFIL</button></a>
      </div>
    </div>
  </div>
{% elsif page.author == "Victoria Aelenei" %}
<div class="card">
    <div class="img">
      <img src="/assets/images/victoria-aelenei.webp" alt="poza profil alex p" width="100" height="100">
    </div>
    <div class="infos">
      <div class="name">
				<h2>Victoria Aelenei.</h2>
				<p>🍳 🏆 🏠 💱</p>
      </div>
      <p class="text">
        Bună! Sunt Victoria Ailenei, expert în psihologia banilor și educație financiară. Scopul meu este să îți ofer un înțeles mai profund al deciziilor și comportamentelor financiare.
      </p>
      <div class="links">
        <a href="{{ site.url }}/autor/v-aelenei/"><button class="view">PROFIL</button></a>
      </div>
    </div>
  </div>
{% elsif page.author == "Andrei I." %}
<div class="card">
    <div class="img">
      <img src="/assets/images/andrei-i.webp" alt="poza profil alex p" width="100" height="100">
    </div>
    <div class="infos">
      <div class="name">
				<h2>Andrei I.</h2>
				<p>📱 ⌚️ 🔋 💻</p>
      </div>
      <p class="text">
        Salut! Eu sunt Andrei și sunt pasionat de tot ce înseamnă tehnologie. Prin participarea la proiectul TOTREDUS vreau să îți prezint cele mai recente și inovatoare dispozitive tehnologice care îți pot îmbogăți experiența de zi cu zi.
      </p>
      <div class="links">
        <a href="{{ site.url }}/autor/andrei-i/"><button class="view">PROFIL</button></a>
      </div>
    </div>
  </div>
{% elsif page.author == "Razvan N." %}
<div class="card">
    <div class="img">
      <img src="/assets/images/razvan-n.webp" alt="poza profil alex p" width="100" height="100">
    </div>
    <div class="infos">
      <div class="name">
				<h2>Răzvan N.</h2>
				<p>📱 ⌚️ 🔋 💻</p>
      </div>
      <p class="text">
        Salut! Sunt Razvan și sunt fascinat de tot ce e nou în tehnologie. Alăturându-mă echipei TOTREDUS, îmi propun să îți aduc cele mai interesante noutăți și recenzii despre dispozitivele care pot transforma viața.
      </p>
      <div class="links">
        <a href="{{ site.url }}/autor/razvan-n/"><button class="view">PROFIL</button></a>
      </div>
    </div>
  </div>
{% elsif page.author == "Marius R." %}
<div class="card">
    <div class="img">
      <img src="/assets/images/marius-r.webp" alt="poza profil alex p" width="100" height="100">
    </div>
    <div class="infos">
      <div class="name">
				<h2>Marius R.</h2>
				<p>🔌 📡 🚀 💡</p>
      </div>
      <p class="text">
        Hei! Sunt Marius R., un adevărat fanatic al gadgeturilor și inovațiilor tehnologice. Expertiza mea se concentrează pe dispozitivele inteligente - de la smartwatch-uri la cele mai recente smartphone-uri și tablete.
      </p>
      <div class="links">
        <a href="{{ site.url }}/autor/marius-r/"><button class="view">PROFIL</button></a>
      </div>
    </div>
  </div>
{% elsif page.author == "Andreea A." %}
<div class="card">
    <div class="img">
      <img src="/assets/images/andreea-a.webp" alt="poza profil andreea a" width="100" height="100">
    </div>
    <div class="infos">
      <div class="name">
				<h2>Andreea A.</h2>
				<p>🌐 🤖 👩‍ 💻 🚀</p>
      </div>
      <p class="text">
        Bună! Eu sunt Andreea și ador să descopăr cum gadgeturile și tehnologia ne pot ușura viața. La TOTREDUS, vreau să împărtășesc cu tine cele mai recente inovații și să-ți arăt cum pot acestea să se integreze armonios în cotidianul tău.
      </p>
      <div class="links">
        <a href="{{ site.url }}/autor/andreea-a/"><button class="view">PROFIL</button></a>
      </div>
    </div>
  </div>
{% endif %}

<style>
	/* Utilities */
.card::after,
.card img {
  border-radius: 50%;
}
.card,
.stats {
  display: flex;
}

.ico {
	width: 30px !important;	
	min-width: auto !important;
	}
.card {
  padding: 2.5rem 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .5);
  box-shadow: 0 0 30px rgba(0, 0, 0, .15);
  margin: 1rem;
  position: relative;
  transform-style: preserve-3d;
  overflow: hidden;
}
.card::before,
.card::after {
  content: '';
  position: absolute;
  z-index: -1;
}
.card::before {
  width: 100%;
  height: 100%;
  border: 1px solid #FFF;
  border-radius: 10px;
  top: -.7rem;
  left: -.7rem;
}
.card::after {
  height: 15rem;
  width: 15rem;
  background-color: #4172f5aa;
  top: -8rem;
  right: -8rem;
  box-shadow: 2rem 6rem 0 -3rem #FFF
}

.card img {
  width: 8rem;
  min-width: 80px;
  box-shadow: 0 0 0 5px #FFF;
}

.infos {
  margin-left: 1.5rem;
}

.name {
  margin-bottom: 1rem;
}
.name h2 {
  font-size: 1.3rem;
}
	.name h2::after {
		display: none;
	}
.name h4 {
  font-size: .8rem;
  color: #333
}

.text {
  font-size: .9rem;
  margin-bottom: 1rem;
}

.stats {
  margin-bottom: 1rem;
}
.stats li {
  min-width: 5rem;
}
.stats li h3 {
  font-size: .99rem;
}
.stats li h4 {
  font-size: .75rem;
}

.links button {
  font-family: 'Poppins', sans-serif;
  min-width: 120px;
  padding: .5rem;
  border: 1px solid #222;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all .25s linear;
}
.links .follow,
.links .view:hover {
  background-color: #222;
  color: #FFF;
}
.links .view,
.links .follow:hover{
  background-color: transparent;
  color: #222;
}

@media screen and (max-width: 450px) {
  .card {
    display: block;
  }
  .infos {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .links button {
    min-width: 100px;
  }
}

</style>
{% endif %}