<script type='text/javascript'>
//<![CDATA[
var lazyanalisis=!1;
window.addEventListener("scroll", function(){
  if ((0!=document.documentElement.scrollTop && !1===lazyanalisis) || 
      (0!=document.body.scrollTop && !1===lazyanalisis)) {
        
    (function(){
      var e=document.createElement("script");
      e.type="text/javascript";
      e.async=!0;
      e.src="https://tp.media/content?trs=219198&shmarker=208457&locale=ro&default_direction=Istanbul&sustainable=false&border_radius=5&plain=true&powered_by=true&promo_id=2693&campaign_id=84";
      
      // identifică div-ul cu id-ul "booking"
      var divBooking = document.getElementById("booking"); 
      
      // inserează noul script în interiorul div-ului cu id-ul "booking"
      divBooking.appendChild(e); 

    })();
    
    lazyanalisis=!0;
  }
},!0);
//]]></script>

