<div id="bookingAffiliateWidget_63ebb457-bcbb-4c5e-9ccb-d65060b0e3d5">&nbsp;</div>

<script defer src="https://www.booking.com/affiliate/prelanding_sdk"></script>
<script>
  function loadWidget() {
    var BookingAffiliateWidget = new Booking.AffiliateWidget({
      "iframeSettings": {
        "selector": "bookingAffiliateWidget_63ebb457-bcbb-4c5e-9ccb-d65060b0e3d5",
        "responsive": true
      },
      "widgetSettings": {
        "latitude": 52.3729,
        "longitude": 4.893,
        "zoom": 9,
        "customMarkerTitle": " Aici este atractia"
      }
    });
  }

  var button = document.getElementById("uniqueButton2");
  button.addEventListener("click", loadWidget);
</script>

<script src="https://www.booking.com/affiliate/prelanding_sdk"></script>

