{% if page.layout == "travel" or "travel-attraction" -%}
<div id="breadcrumbs">
{% assign crumbs = page.url | remove:'/index.html' | remove: '/stiri' | remove: '/review' | remove: '/smarthome' | split: '/' %}
<a href="/">Acasa</a>
<a href="{{ site.url }}/{{ page.cat | replace: ' ', '-' | downcase }}">/ {{ page.cat | downcase | capitalize | strip }}</a>
{% for crumb in crumbs offset: 1 %}
  {% if forloop.last %}
   {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
  {% else %}
   <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }} /</a>
  {% endif %}
{% endfor -%}
</div>

{% else -%}
<div id="breadcrumbs">
{%- assign crumbs = page.url | remove:'/index.html' | remove: '/stiri' | remove: '/review' | remove: '/magazine' | remove: '/smarthome' | split: '/' -%}
<a href="/">Acasa</a>
<a href="{{ site.url }}/{{ page.cat | replace: ' ', '-' | downcase }}/">/ {{ page.cat | downcase | capitalize | strip }} /</a>
{% for crumb in crumbs offset: 1 %}
  {% if forloop.last %}
   {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
  {% else %}
   <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
  {% endif %}
{% endfor %}
</div>
{% endif -%}