<div class="row col-lg-4 sticky" style="height: fit-content;">

{% if page.adresa %}
<div class="contacte-travel">
  <img class="contacte-svg-travel" src="/assets/images/svg/map.svg" alt="imagine adresa" width="20" height="20"><span class="text-contacte">{{ page.adresa }}</span>
</div>
{% endif %}

{% if page.email %}
<div class="contacte-travel">
  <img class="contacte-svg-travel" src="/assets/images/svg/email.svg" alt="imagine email" width="20" height="20"><span class="text-contacte">{{ page.email }}</span>
</div>
{% endif %}
{% if page.phone %}
<div class="contacte-travel">
  <img class="contacte-svg-travel" src="/assets/images/svg/phone.svg" alt="imagine telefon" width="20" height="20"><span class="text-contacte">{{ page.phone }}</span>
</div>
{% endif %}
{% if page.website %}
<div class="contacte-travel">
  <img class="contacte-svg-travel" src="/assets/images/svg/web.svg" alt="imagine website" width="20" height="20"><a href="{{page.website}}" target="_blank"><span class="text-contacte" style="text-decoration: underline;">Vezi website</span></a>
</div>
{% endif %}
{% if page.tara %}
<div class="contacte-travel">
  <img class="contacte-svg-travel" src="/assets/images/svg/country.svg" alt="imagine drapel tara" width="20" height="20"><span class="text-contacte">{{ page.tara }}</span>
</div>
{% endif %}
{% if page.oras %}  
<div class="contacte-travel">
  <img class="contacte-svg-travel" src="/assets/images/svg/city.svg" alt="imagine linie oras" width="20" height="20">
  {% assign orasid = site.new-travel | where: "cat", "oras" | where: "id-oras", {{page.id-oras}} | first %}
  <a href="{{ orasid.url }}" class="link-cust">{{ page.oras }}</a>
</div>
{% endif %}
</div>
<style>
   @media only screen and (min-width: 600px) { 
  .sticky {
    position: sticky;
    top: 0;
     }
  }
  .contacte-travel {
    margin-top: 20px;
    border: solid 1px #f3eeee;
    border-radius: 5px;
    max-width: 740px;
    padding: 10px;
    box-shadow: 0 0 10px -7px #00000091;
    width: 100%;
  }
  .contacte-svg-travel {
    margin-right: 5px;
    position: relative;
    top: 3px;
    margin-left: 10px;
    border-radius: 0 !important;
  }
  .text-contacte {
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    color: #494444;
  }
</style>