 	
		<div id="cta" class="card-container">
			<span class="pro">OFERTE</span>
      <div class="round" style="background-image: url({{ page.imagine-transparent }})">

      </div>
			<br>
      <div class="title-container">
			<span class="nume-de-autor">{{ page.nume }}</span>
      </div>
			<a class="intalnire"><button id="produseModalBtn">VEZI MODELE</button></a>
		</div>

<!-- The Produse Modal -->
<div id="produseModal" class="produse-modal">

  <!-- Modal content -->
  <div class="produse-modal-content">
    <span class="produse-close">&times;</span>
  
  <h2 style="font-weight: 900;">PRODUSE</h2>
  <div class="" style="padding: 15px; position: relative;">
  <div class="row hori" id="" style="flex-wrap: wrap;">
    {% assign products = page.offers | where: "categorie", "PRODUS" %}
    {% for product in products %}
      <div class="col-lg-4 col-6" style="padding: 5px 5px;">
        <div class="formare produs">
        <div class="product-header"><p style="text-align: center; margin: 0;">{{ product.titlu }}</p></div>
        <div style="padding: 5px;">
        <div class="product-imagine"><img src="/assets/images/reviews/{{page.folder}}/{{ product.image-link }}" loading="lazy" width="250" height="250" alt="{{ page.nume }}"></div>
        </div>
        <div class="product-footer">
          <a href="{{ product.url-produs }}"><button>VEZI PRET</button></a>
          <div class="magazin">
          <span>{{ product.magazin }}</span>
          </div>
        </div>
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
    
    {% assign products = page.offers | where: "categorie", "ACCESORII" %}
    {% if products.size > 0 %}
    <h2 style="font-weight: 900;">ACCESORII</h2>
    <div class="" style="padding: 15px; position: relative;">
  <div class="row hori" id="">
    {% for product in products %}
    <div class="col-lg-4 col-6 " style="padding: 5px 5px;">
      <div class="formare produs">
      <div class="product-header"><p style="text-align: center !important; font-size: 16px !important;">{{ product.titlu }}</p></div>
      <div style="padding: 5px;">
      <div class="product-imagine"><img src="/assets/images/reviews/{{page.folder}}/{{ product.image-link }}" loading="lazy" width="250" height="250" alt="{{ page.nume }}"></div>
      </div>
      <div class="product-footer">
        <a href="{{ product.url-produs }}"><button>VEZI PRET</button></a>
        <div class="magazin">
        <span>{{ product.magazin }}</span>
        </div>
      </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
  {% endif %}
    
  </div>

</div>
<style>
  
/* The Produse Modal (background) */
.produse-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1021; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Produse Modal Content */
.produse-modal-content {
    background-color: #fefefe;
    margin: 1% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.produse-close {
    color: #000;
    float: right;
    font-size: 43px;
    font-weight: bold;
}

.produse-close:hover,
.produse-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 570px) {
    .produse-modal-content {
      margin: 1% auto; /* 15% from the top and centered */
      padding: 3px;
      width: 98%; /* Could be more or less, depending on screen size */
    }

    .title-container {
      overflow: visible !important;
      padding: 0px 3px !important;
      position: absolute !important;
      left: 78px !important;
      text-align: left !important;
    }
    .intalnire {
      top: 0 !important;
      position: absolute !important;
      width: 119px !important;
      font-size: 12px !important;
      padding: 12px 6px !important;
      right: 0 !important;
      height: 100% !important;
      border-radius: 0 0 0px 30px !important;
    }
		.pro {
			display: none;
		}

		.round {
      float: left;
      width: 61px !important;
      height: 61px !important;
      background-size: 42px !important;
      margin-left: 5px;
      position: relative;
      top: -29px;
      margin-right: 8px;
      padding: 4px;
		}
		.card-container {
			height: 64px;
      width: 100% !important;
		}
		.card-container .pro {
      color: #231E39;
      background-color: #FEBB0B;
      border-radius: 3px;
      font-size: 13px;
      font-weight: bold;
      padding: 0px 7px;
      position: absolute;
      top: 49px;
      left: 84px;
		}
		.nume-de-autor {
			float: left;
    	position: relative;
    	top: -49px;
    	font-size: 18px;
		}
    .intalnire {
      padding: 19px 55px;
    }
}
.title-container {
  max-height: 84px;
  overflow: hidden;
  padding-top: 15px;
  padding: 5px;
}
.nume-de-autor {
  font-size: x-large;
  font-weight: bold;
  color: white;
}
.intalnire {
  background: #febb0b;
  padding: 19px 55px;
  color: black !important;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
  top: 26px;
}
.intalnire button {
  background: none;
  border: none;
  font-weight: 900;
  cursor: pointer;
  font-family: 'Montserrat';
}
.card-container {
	background-color: #231E39;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	max-width: 100%;
	text-align: center;
	margin-bottom: 50px;
	top: 10px;
  position: relative;
	width: 345px;
	z-index: 1001;
}
.card-container .pro {
	color: #231E39;
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
  top: 20px;
  left: 20px;
}
.card-container .round {
	border: 4px solid #03BFCB;
  border-radius: 50%;
  padding: 10px;
  margin: auto;
  width: 250px;
  height: 250px;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
    let offerDiv = document.getElementById('cta');
    let adjustment = 420;
    let initialPosition = offerDiv.offsetTop + adjustment;
    let lastScrollPosition = 0;

    function checkOfferSticky() {
        let currentScrollPosition = window.pageYOffset;

        if (window.innerWidth > 600) {
            offerDiv.style.opacity = '1';
            offerDiv.style.pointerEvents = 'auto';  // Make it interactive
            if (currentScrollPosition >= initialPosition) {
                offerDiv.style.position = 'fixed';
                offerDiv.style.top = '20px';
            } else {
                offerDiv.style.position = 'relative';
            }
        } else {
            if (currentScrollPosition > lastScrollPosition && currentScrollPosition >= 50) {
                offerDiv.style.opacity = '1';
                offerDiv.style.position = 'fixed';
                offerDiv.style.top = '0';
                offerDiv.style.left = '0';
								offerDiv.style.right = '0';
                offerDiv.style.pointerEvents = 'auto';  // Make it interactive
            } else if (currentScrollPosition < lastScrollPosition) {
                offerDiv.style.opacity = '0';
                offerDiv.style.pointerEvents = 'none';  // Make it non-interactive
            }
        }

        lastScrollPosition = currentScrollPosition;
    }

    window.addEventListener('scroll', checkOfferSticky);
});
  
  
// Get the modal
var modal2 = document.getElementById("produseModal");

// Get the button that opens the modal
var btn = document.getElementById("produseModalBtn");

// Get the <span> element that closes the modal
var span2 = document.getElementsByClassName("produse-close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal2.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span2.onclick = function() {
    modal2.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal2) {
        modal2.style.display = "none";
    }
}

</script>