
<div class="card-wrapper marg col-lg-12 col-12" style="">
	<div class="for-style row">
	<div class="imagine-lat col-6" style="background-image: url({{include.imagine1}})">
		<span class="categtop">{{include.nota1}}</span>
		<div class="top-nota"><span class="top-caps">{{include.locula}}</span></div>
	</div>
	<div class="footer-post col-6">
		<p class="">{{include.titlu1}}</p>
		<div class=""><a href="{{ include.url1 }}"><button>VEZI PREȚURI</button></a></div>
	</div>
	</div>
</div>



<style>
	@media only screen and (max-width: 600px) {
		.top-nota {
		width: 70px !important;
		}
		.top-caps {
    
		}
		.card-wrapper {
			padding-left: 2px !important;
			padding-right: 2px !important;
		}
		#outputReview {
			padding-left: 0 !important;
			padding-right: 0 !important;
			margin-top: 30px;
		}
		.footer-post button {
			font-size: small;
		}
		.footer-post p {
			font-weight: bold !important;
			line-height: 15px !important;
			text-align: center !important;
			height: 29px !important;
			font-size: 10px !important;
		}
		.imagine-lat {
			height: 120px !important;
		}
		.categtop {
			font-size: 13px;
		}
		.footer-post {
			padding: 7px;
		}
}

.marg {
	margin-top: 25px; 
	}	
.top-caps {
  font-size: 14px;
  font-weight: 700;
  line-height: 57px;
  color: #63d3d9;
  position: relative;
  background: -webkit-gradient(linear,left top,right top,from(#ff8a00),to(#da1b60));
  background: linear-gradient(to right,#ff8a00,#da1b60);
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  top: -19px;
}

.top-nota {
  position: absolute;
  border: solid 1px;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: currentcolor;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-left-color: currentcolor;
  border-radius: 0;
    border-top-left-radius: 0px;
  width: 100px;
  height: 23px;
  text-align: center;
  padding: 0px;
  top: -23px;
  left: -1px;
  background: white;
  border-color: #eee;
    border-bottom-color: rgb(238, 238, 238);
  border-bottom-color: rgb(29, 200, 205);
  border-bottom: 0;
  border-top-left-radius: 3px;
}
	
	.categtop {
		background-color: transparent;
    background-image: linear-gradient(260deg, #8062d4 0%, #41dcab 100%);
		color: white;
		font-weight: bold;
    padding: 1px 5px;
    border-radius: 3px;
    margin-right: 5px;
		margin-top: 5px;
		font-size: 16px;
		float: right;
	}

	.for-style {
  border: 1px solid #dddddd7d;
  box-shadow: 0 0 20px #F0F0F0;
  border-radius: 4px;
    border-top-right-radius: 4px;
  border-top-right-radius: 0;
}
	.card-wrapper {
		padding-left: 10px;
		padding-bottom: 20px;
	}
	.for-style:hover {
		box-shadow: 0 0 0 0 white;
		transition: all 0.5s;
	}
	.imagine-lat {
		height: 150px;
		background-size: cover;
		background-repeat: no-repeat;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		background-position: center;
	}
	.imagine-lat a:hover {
		text-decoration: none;
	}
	.footer-post {
		padding: 15px;
	}
	.footer-post hr {
		margin-top: 0;
	}
	.footer-post h4 {
		font-size: 18px;
		font-weight: 700;
    overflow: hidden;
		margin-top: 0;
	}
	
.footer-post p {
    margin-bottom: 10px;
    height: 44px;
    overflow: hidden;
    line-height: 1.5;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
	.footer-post button {
		background: -webkit-gradient(linear,left top,right top,from(#ff8a00),to(#da1b60)) !important;
    background: linear-gradient(to right,#ff8a00,#da1b60) !important;
    text-decoration: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
		border: none;
		color: white;
		border-radius: 3px;
		text-transform: uppercase;
		padding: 7px 16px;
		font-weight: 600;
	}
	.footer-post button:hover {
		box-shadow: none;
	}

</style>