<div id="outputReview" class="row col-lg-12" style="margin-top:30px;">

<div class="card-wrapper col-lg-6 col-6">
	<div class="for-style">
	<div class="imagine-post" style="background-image: url({{include.imagine1}})">
		<a href="{{site.url }}/{{ post.category }}/index.html"><span class="categ">{{ include.badge1 }}</span></a>
	</div>
	<div class="footer-post">
		<p class="">{{include.titlu1}}</p>
		<a href="{{ include.url1 }}"><button>VEZI PREȚURI</button></a>
	</div>
	</div>
</div>


<div class="card-wrapper col-lg-6 col-6">
	<div class="for-style">
	<div class="imagine-post" style="background-image: url({{include.imagine2}})">
		<a href="{{site.url }}/{{ post.category }}/index.html"><span class="categ">{{include.badge2}}</span></a>
	</div>
	<div class="footer-post">
		<p class="">{{include.titlu2}}</p>
		<a href="{{ include.url2 }}"><button>VEZI PREȚURI</button></a>
	</div>
	</div>
</div>
	
	
</div>
<style>
	@media only screen and (max-width: 600px) {
		.card-wrapper {
			padding-left: 2px !important;
			padding-right: 2px !important;
		}
		#outputReview {
			padding-left: 0 !important;
			padding-right: 0 !important;
			margin-top: 30px;
		}
		.footer-post button {
			font-size: small;
		}
		.footer-post p {
			font-weight: bold !important;
			line-height: 15px !important;
			text-align: center !important;
			height: 29px !important;
			font-size: 10px !important;
		}
		.imagine-post {
			height: 130px !important;
		}
		.categ {
			font-size: 13px;
		}
		.footer-post {
			padding: 7px;
		}
}
	
	
	
	
	.categ {
		background-color: transparent;
    background-image: linear-gradient(260deg, #8062d4 0%, #41dcab 100%);
		color: white;
		font-weight: 500;
    padding: 1px 5px;
    border-radius: 3px;
    margin-left: 5px;
		margin-top: 5px;
		font-size: 13px;
	}

	.for-style {
		border: 1px solid #dddddd7d;
    box-shadow: 0 0 20px #F0F0F0;
		border-radius: 4px;
	}
	.card-wrapper {
		padding-left: 10px;
		padding-bottom: 20px;
	}
	.for-style:hover {
		box-shadow: 0 0 0 0 white;
		transition: all 0.5s;
	}
	.imagine-post {
		height: 215px;
		background-size: cover;
		background-repeat: no-repeat;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		background-position: center;
	}
	.imagine-post a:hover {
		text-decoration: none;
	}
	.footer-post {
		padding: 15px;
	}
	.footer-post hr {
		margin-top: 0;
	}
	.footer-post h4 {
		font-size: 18px;
		font-weight: 700;
    overflow: hidden;
		margin-top: 0;
	}
	
.footer-post p {
    margin-bottom: 10px;
    height: 44px;
    overflow: hidden;
    line-height: 1.5;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
	.footer-post button {
		background-color: transparent;
    background-image: linear-gradient(260deg, #8062d4 0%, #41dcab 100%);
    text-decoration: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
		border: none;
		color: white;
		border-radius: 3px;
		text-transform: uppercase;
		padding: 7px 16px;
		font-weight: 600;
	}
	.footer-post button:hover {
		box-shadow: none;
	}

</style>