<div class="row rowcta" style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
	<div class="col-lg-3 col-12 colcta colcta1">
		<img class="logo-shop lscta" src="/assets/images/log-tr.webp" alt="{{ page.title }}">
	</div>
	<div class="col-lg-6 col-7 colcta">
		<p class="p-new-price text-cta" style="margin: auto;font-weight: 700;">Riflaje MDF ieftine</p>
	</div>
	<div class="col-lg-3 col-5 colcta colcta-btn" style="">
		<a target="_blank" class="buttoncta" href="{{ include.link }}" style="color: white;">VEZI PRETURI</a>
	</div>
</div>

<style>
	@media only screen and (max-width: 600px) {
		.text-cta {
		font-size: 12px !important;
    text-align: center;
		}
		.colcta1 {
		border-right: none !important;
		border-bottom: solid 1px #e9e4e4;
		padding-bottom: 5px !important;
		padding-top: 5px !important;
		}
		.colcta-btn {
		border-radius: 0 0 3px 0 !important;
	}
}
	.colcta1 {
		border-right: solid 1px #e9e4e4;
	}
	.rowcta {
		box-shadow: 0 0 10px 1px lightgray; 
		border-radius: 3px;
	}
	.colcta {
		padding-bottom: 15px; 
		padding-top: 15px;
	}
	.colcta-btn {
		background: -webkit-gradient(linear,left top,right top,from(#ff8a00),to(#da1b60));
    background: linear-gradient(to right,#ff8a00,#da1b60);
		text-align: center;
		font-weight: bold;
		border-radius: 0 3px 3px 0;
	}
</style>
