<div class="row col-lg-4 sticky" style="height: fit-content;">

<div class="contacte-travel">
<img class="contacte-svg-travel" src="/assets/images/svg/country.svg" alt="imagine drapel tara" width="20" height="20"><span class="text-contacte">{{ page.tara }}</span>
</div>

<div class="contacte-travel">
<img class="contacte-svg-travel" src="/assets/images/svg/surface.svg" alt="iconita reprezentativa suprafata" width="20" height="20"><span class="text-contacte">{{ page.suprafata }}</span>
</div>
  
<div class="contacte-travel">
<img class="contacte-svg-travel" src="/assets/images/svg/populatie.svg" alt="iconita reprezentativa suprafata" width="20" height="20"><span class="text-contacte">{{ page.populatie }}</span>
</div>

<div id="localClock" data-timezone="{{page.timezone}}">
<span>ORA IN {{page.oras}}</span>
  <div class="time" id="hours"></div>:
  <div class="time" id="minutes"></div>:
  <div class="time" id="seconds"></div>
</div>


</div>

  

<style>
#localClock span {
  position: absolute;
  top: 0;
  font-size: small;
}
#localClock {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;
    background: black;
    padding: 14px;
    font-size: xx-large;
    margin-top: 20px;
    border-radius: 15px;
    position: relative;
  }
  .time  {
    text-align: center;
    width: 25%;
  }

@media only screen and (min-width: 600px) { 
  .sticky {
  position: sticky;
  top: 0;
  }
}

@media only screen and (max-width: 600px) {
 .date-oras-modal-content {
  width: 95% !important;
  }
}

.contacte-travel {
    margin-top: 20px;
    border: solid 1px #f3eeee;
    border-radius: 5px;
    max-width: 740px;
    padding: 10px;
    box-shadow: 0 0 10px -7px #00000091;
    width: 100%;
  }
  .contacte-svg-travel {
    margin-right: 5px;
    position: relative;
    top: 3px;
    margin-left: 10px;
    border-radius: 0 !important;
  }
  .text-contacte {
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    color: #494444;
  }
  
  
  /* The Modal (background) */
.date-oras-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.date-oras-modal-content {
  position: relative;
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 15px;
    font-size: medium;
}

/* The Close Button */
.date-oras-close {
  color: #aaa;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.date-oras-close:hover,
.date-oras-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

</style>

<script>

function updateLocalClock() {
  var clockElement = document.getElementById('localClock');
  var timezone = clockElement.getAttribute('data-timezone');
  var now = new Date();

  // Convert time to specified timezone
  now = now.toLocaleString('en-US', { timeZone: timezone });

  // Create a date object from the converted time string
  var localTime = new Date(now);

  // Extract hours, minutes, and seconds
  var hours = localTime.getHours();
  var minutes = localTime.getMinutes();
  var seconds = localTime.getSeconds();

  // Format hours, minutes, and seconds
  hours = hours < 10 ? '0' + hours : hours;
  minutes = minutes < 10 ? '0' + minutes : minutes;
  seconds = seconds < 10 ? '0' + seconds : seconds;

  // Update the individual divs
  document.getElementById('hours').textContent = hours;
  document.getElementById('minutes').textContent = minutes;
  document.getElementById('seconds').textContent = seconds;
}

// Update the clock every second
setInterval(updateLocalClock, 1000);

// Initial call to display the time immediately
updateLocalClock();
  



</script>