<!-- begin post fara discount-->
<div class="col-lg-3 col-md-6 col-6 mb-30px mix {{ product.adv_name | remove: '.ro' | | remove: " " }} card-group" data-discount="{{ product.discount }}" data-price="{{ product.price_discounted | round: 0 }} ">
    <div class="card h-100">
		{% if page.categorie == "rucsacuri" or page.categorie == "curele" or page.categorie == "sosete" or page.categorie == "palarii" or page.category == "tehnologie" %}
        <div class="maxthumb" style="background: url(https://abpipzueen.cloudimg.io/width/145/x/{{ product.product_pic }}); background-size: 145px; background-repeat: no-repeat; background-position: center;">
			<style>
			@media (max-width: 578px) {
    			.maxthumb { background-size: 100px !important;}
				}
			</style>
			{% else %}
			<div class="maxthumb" style="background: url(https://abpipzueen.cloudimg.io/width/254/x/{{ product.product_pic }}); background-size: cover;" >
			{% endif %}
            <span class="adv" >{{ product.adv_name }}</span><br/>
            <span class="manufacturer" >{{ product.manufacturer }}</span><br/>
        </div>
        <div class="card-body-custom">
            <h2 class="card-title-custom"><a class="text-dark" href="{{ product.product_aff_link }}" target="_blank">{{ product.product_name }}</a></h2>     
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                <span class="price">{{ product.price_discounted | round: 0 }} Lei</span><br/>
				
                <span class="old-price" style="display: none;">
					{{ product.price_vat | round: 0 }} Lei</span><br/>
                <span class="perc" style="display: none">{{ product.discount }}%</span><br/>
                             
                <a class="citeste" href="{{ product.product_aff_link }}" target="_blank">VEZI PRODUS</a>
             </div>
        </div>
    </div>
</div>
<!-- end post -->
