<div class="attention-card">
  <span class="attention-card__title">ÎNCEPE AVENTURA PE FIVERR</span>
	<hr>
	<span class="text-atg">Profită de timpul liber și transformă-ți abilitățile în venit - devino vânzător pe Fiverr și începe să vinzi către o audiență globală!</span>
	<hr>
  <a href="https://go.fiverr.com/visit/?bta=25034&brand=fiverrcpa" class="attention-card__cta">VEZI MAI MULT</a>
</div>


<style>
.attention-card {
    max-width: 740px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 1px 1px 22px 6px #e6e3e3;
    border-radius: 5px;
    margin-bottom: 10px;
		background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
	  padding:15px;
	}
.attention-card .text-atg {
	color: white;
	}
.attention-card__title {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
		color: white;
}
.attention-card__image {
  width: 100%;
  max-width: 740px;
  height: auto;
}
.attention-card__cta {
    display: inline-block;
    background: linear-gradient(to right, #07d79c 0%, #3aba85 100%);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 11px 19px;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    /* width: 90%; */
    max-width: 400px;
    text-align: center;
		margin-bottom: 10px;
}
.attention-card__cta:hover {
  background-color: #0b7da9;
}

</style>