<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}" style="width: 105px;" /> Copyright © {{ site.time | date: "%Y" }} {{ site.name }} 
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">
				<a style="color: black" href="/politica-confidentialitate">POLITICA DE CONFIDENȚIALITATE |</a>
				<a style="color: black" href="/politica-cookie">POLITICA DE COOKIE |</a>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->

   
</div> <!-- /.site-content -->

{% include lazyload.html %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
    
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/jquery.lazy.min.js"></script>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>
    
<script src="{{ site.baseurl }}/assets/js/mediumish.js"></script>

<script src="{{ site.baseurl }}/assets/js/custom.js"></script>

<script src="{{ site.baseurl }}/assets/js/aos.js"></script>

<script src="{{ site.baseurl }}/assets/js/type.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/lightbox.js"></script>

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/lightbox.css">

<script type="text/javascript">
    $('.tgl-cl').on('click', function() {
        $('body .h17-main-nav').toggleClass("show");
    });
	
			
		$(function() {
        $('.lazy').Lazy();
    });
	
	$(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});

if ($(window).width() > 1024) {
   $("#sidebar, #tocid").stick_in_parent({offset_top: 90});
}
else if ($(window).width() < 1023 && $(window).width() > 990 ) {
   $("#sidebar, #tocid").stick_in_parent({offset_top: 15});
}
else if ($(window).width() < 990) {
   $("#tocid").stick_in_parent({offset_top: 60});
}
	
///////////////////////////////////////
// Cool author small box/////
///////////////////////////////////////////
(function() {
  $('.btn').click(function() {
    $(this).toggleClass('active');
    return $('.box').toggleClass('open');
  });

}).call(this);
/////////////////////////////////////////////
</script>
 

{% if jekyll.environment == 'production' %}
{% include cookie-consent.html %}
{% endif %}

</body>
</html>