<!-- Begin Footer
================================================== -->
<footer class="footer" id="footer-sticky">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                <img src="{{ site.url }}/assets/images/log-tr-footer.webp" alt="{{ site.name }}" width="105" height="22" /><span style="color: black;">Copyright © {{ site.time | date: "%Y" }} {{ site.name }}</span>
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">
				<a style="color: black" aria-label="Catre politica de confidentialitate" href="/politica-confidentialitate">POLITICA DE CONFIDENȚIALITATE |</a>
				<a style="color: black" aria-label="Catre politica de cookie" href="/politica-cookie">POLITICA DE COOKIE |</a>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->

   
</div> <!-- /.site-content -->

{% include lazyload.html %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
    
<style>
.sticky {
  
}

</style>
   
<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js" async></script>

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/lightbox.js" async></script>


<script type="text/javascript">
// Scroll to top when arrow up clicked
window.addEventListener('scroll', function() {
    var back2Top = document.querySelector('#back2Top');
    var height = window.scrollY;
    if (height > 100) {
        back2Top.style.display = 'block';
    } else {
        back2Top.style.display = 'none';
    }
});

document.addEventListener('DOMContentLoaded', function() {
    var back2Top = document.querySelector('#back2Top');
    back2Top.addEventListener('click', function(event) {
        event.preventDefault();
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    });
});


/*Scroll to top when category or tag click*/
function scrollToTop() {
window.scrollTo({
    top: 0,
    behavior: 'smooth'
})
}
	
// Deschide si inchide meniul
var tglCl = document.querySelector(".tgl-cl");
var h17MainNav = document.querySelector(".h17-main-nav");
tglCl.addEventListener("click", function() {
  h17MainNav.classList.toggle("show");
});
	
var tglCl = document.querySelector(".tgl-close");
var h17MainNav = document.querySelector(".h17-main-nav");
tglCl.addEventListener("click", function() {
  h17MainNav.classList.remove("show");
});
	

// Smooth scroll pentru elementele din aceeasi pagina
document.addEventListener("DOMContentLoaded", function() {
  var links = document.querySelectorAll('a[href*="#"]:not([href="#"])');
  links.forEach(function(link) {
    link.addEventListener("click", function() {
      if (location.pathname.replace(/^\//,'') === this.pathname.replace(/^\//,'') && location.hostname === this.hostname) {
        var target = document.querySelector(this.hash);
        target = target ? target : document.querySelector('[name=' + this.hash.slice(1) +']');
        if (target) {
          window.scrollTo({
            top: target.getBoundingClientRect().top + window.pageYOffset,
            behavior: "smooth"
          });
          return false;
        }
      }
    });
  });
});




</script>
 


</body>
</html>