<div class="photo-gal-container">
<h2 class="fara-subliniere" id="galerie-photo-atractie"> Galerie foto {{ page.atractie }}</h2>
<div class="button-container">
{% if page.tara == 'ROMANIA' %}
<button class="search-btn" data-query="{{page.atractie}} {{page.oras}}">VEZI POZE</button>
{% else %}
<button class="search-btn" data-query="{{page.atractieEn}} {{page.city}}">VEZI POZE</button> 
{% endif %}
<!-- Add more buttons as needed -->
</div>
<img src="/assets/images/photo-gallery.webp" alt="imagine logo pentru galeria foto" loading="lazy" width="740" height="493">
</div>