<style>
  .photo-gal-container {
    text-align: center;
    text-transform: uppercase;
  }
  .button-container {
    width: 100%;
  }
  .button-container button {
    width: 13rem;
    height: 4rem;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 19px -8px #737070;
    margin-bottom: 20px;
    background: #008071;
    font-weight: 900;
    color: white;
    font-size: large;
    cursor: pointer;
  }
  .gsc-results-wrapper-visible {
  }
  .gsc-modal-background-image-visible {
   
  }
  .gsc-above-wrapper-area {display: none;}
  .gsc-positioningWrapper {display: none;}
  .gs-image-popup-box { opacity: 0;}
  .gs-previewSnippet {
    margin: 30px;
    position: absolute;
    display: none;
  }
        
  .gs-mobilePreview {
    background: #cad8d473;
    border-radius: 17px;
  }
  .gs-closeButton {
    fill: #1d1818;
  }
  .gs-previewLink {
    pointer-events: none;
    cursor: default;
  }
  .gsc-results-wrapper-overlay { 
    border-radius: 10px;
    box-shadow: 0 0 38px -16px #00000069;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  @media only screen and (min-width: 1000px) {

    .gsc-imageResult>.gsc-expansionArea {
      column-count: 3;
    }
    .gsc-wrapper {
    width: 50%;
    margin: auto;
    }
    .gs-imagePreview:not([src$=".svg"]) {
    width: auto;
    height: 90vh;
    }
    .gsc-results-close-btn {
    background-image: url(/assets/images/svg/close-button.svg);
    background-position: top;
    height: 76px;
    width: 71px;
    position: fixed !important;
    top: 20px;
    right: 30px;
    }
}
</style>
<script defer src="https://cse.google.com/cse.js?cx=006196097068308232447:tfmo-0-ya0y">
</script>

<div id="searchbox" class="gcse-searchresults-only" style="display:none;"
     data-mobileLayout="forced"
     data-imageSearchLayout="popup"
     data-image_size="xxlarge"
     data-image_filter="1"
     data-image_type="photo"
     data-disableWebSearch="true"></div>



<script defer>
  // Function to update URL with search query
  function updateURLWithQuery(query) {
    window.location.hash = "gsc.tab=0&gsc.q=" + encodeURIComponent(query) + "&gsc.sort=&gsc.page=1";
  }
  


  // Function to initialize or render CSE
  function initOrRenderCSE(query) {
    if (document.getElementById('___gcse')) {
      // CSE already exists, so just update the query
      var element = google.search.cse.element.getElement('___gcse');
      if (element) {
        element.execute(query);
      }
    } else {
      // Initialize CSE
      window.__gcse = {
        parsetags: 'explicit', // Prevent automatic rendering
        initializationCallback: function() {
          google.search.cse.element.render({
            div: "___gcse",
            tag: 'searchresults-only', // Render only search results
            attributes: {
              queryParameterName: 'gsc.q'
            }
          });
        }
      };
      google.search.cse.element.go();
    }
  }

  // Event listeners for buttons
  document.querySelectorAll('.search-btn').forEach(function(button) {
    button.addEventListener('click', function() {
      var query = this.getAttribute('data-query');
      updateURLWithQuery(query);
      initOrRenderCSE(query);
    });
  });
</script>









