<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name='profitshareid' content='2b70a5292e7d9834e493da689e52bbb1' />
<meta name="google-site-verification" content="lE0btD76b1ZKaLix69stHbkWqqO_sS3QmX39twEBobw" />
<meta name="B-verify" content="dfb4c08f80bffc79ffb27bed915001158884af26" />
<meta name="verify-admitad" content="4e9f8c0723" />
<meta name="verification" content="5ae535d3628df9e6b27034a609b30c4f" />
{% if page.robots %}<meta name="robots" content="noindex,follow" /> {% else %} {% endif %}
<link rel="icon" href="{{ site.baseurl }}/assets/images/logo.png">
    
<title>{{ page.title }}</title>
<link rel="canonical" href="{% if page.canonical %}{{ page.canonical }}{% else %}{{ site.url }}{{ page.url }}{% endif %}" /> 
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
<meta property="og:type" content="{% if page.topic %}{{ page.topic}}{% else %}article{% endif %}"/>
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:image" content="{% if page.meta_image %}{{ site.url }}/{{ page.meta_image }}{% elsif page.image_path %}{{site.url}}/assets/images/{{page.image_path}}{% endif %}"/>
 
{% if page.layout == "travel" %}{% include criticalcss-travel.html %}
{% elsif page.layout == "review" %}{% include criticalcss-review.html %}
{% elsif page.layout == "stiri" %}{% include criticalcss-blog.html %}
{% else %}{% include criticalcss.html %}{% endif %}

<link rel="preload" href="/assets/css/bootstrap-grid.min.css" type="text/css" as="style"onload="this.onload=null;this.rel='stylesheet';" crossorigin="anonymous">
<link rel="preload" href="/assets/css/main-minified.css" type="text/css" as="style"onload="this.onload=null;this.rel='stylesheet';" crossorigin="anonymous">
<!--<link rel="stylesheet" href="/assets/css/bootstrap-grid.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/main-minified.css" type="text/css">-->
	       
<!-- Hello Awin -->
    
<!-- Hello Travelpayouts -->
</head>

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="">
