<head>

<!-- <script>
const LCP_SUB_PARTS = [
  'Time to first byte',
  'Resource load delay',
  'Resource load time',
  'Element render delay',
];

new PerformanceObserver((list) => {
  const lcpEntry = list.getEntries().at(-1);
  const navEntry = performance.getEntriesByType('navigation')[0];
  const lcpResEntry = performance
    .getEntriesByType('resource')
    .filter((e) => e.name === lcpEntry.url)[0];

  // Ignore LCP entries that aren't images to reduce DevTools noise.
  // Comment this line out if you want to include text entries.
  if (!lcpEntry.url) return;

  // Compute the start and end times of each LCP sub-part.
  // WARNING! If your LCP resource is loaded cross-origin, make sure to add
  // the `Timing-Allow-Origin` (TAO) header to get the most accurate results.
  const ttfb = navEntry.responseStart;
  const lcpRequestStart = Math.max(
    ttfb,
    // Prefer `requestStart` (if TOA is set), otherwise use `startTime`.
    lcpResEntry ? lcpResEntry.requestStart || lcpResEntry.startTime : 0
  );
  const lcpResponseEnd = Math.max(
    lcpRequestStart,
    lcpResEntry ? lcpResEntry.responseEnd : 0
  );
  const lcpRenderTime = Math.max(
    lcpResponseEnd,
    // Use LCP startTime (which is the final LCP time) as sometimes
    // slight differences between loadTime/renderTime and startTime
    // due to rounding precision.
    lcpEntry ? lcpEntry.startTime : 0
  );

  // Clear previous measures before making new ones.
  // Note: due to a bug this does not work in Chrome DevTools.
  LCP_SUB_PARTS.forEach((part) => performance.clearMeasures(part));

  // Create measures for each LCP sub-part for easier
  // visualization in the Chrome DevTools Performance panel.
  const lcpSubPartMeasures = [
    performance.measure(LCP_SUB_PARTS[0], {
      start: 0,
      end: ttfb,
    }),
    performance.measure(LCP_SUB_PARTS[1], {
      start: ttfb,
      end: lcpRequestStart,
    }),
    performance.measure(LCP_SUB_PARTS[2], {
      start: lcpRequestStart,
      end: lcpResponseEnd,
    }),
    performance.measure(LCP_SUB_PARTS[3], {
      start: lcpResponseEnd,
      end: lcpRenderTime,
    }),
  ];

  // Log helpful debug information to the console.
  console.log('LCP value: ', lcpRenderTime);
  console.log('LCP element: ', lcpEntry.element, lcpEntry.url);
  console.table(
    lcpSubPartMeasures.map((measure) => ({
      'LCP sub-part': measure.name,
      'Time (ms)': measure.duration,
      '% of LCP': `${
        Math.round((1000 * measure.duration) / lcpRenderTime) / 10
      }%`,
    }))
  );
}).observe({type: 'largest-contentful-paint', buffered: true});	
</script> -->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name='profitshareid' content='2b70a5292e7d9834e493da689e52bbb1' />
<meta name="google-site-verification" content="lE0btD76b1ZKaLix69stHbkWqqO_sS3QmX39twEBobw" />
<meta name="B-verify" content="dfb4c08f80bffc79ffb27bed915001158884af26" />
<meta name="verify-admitad" content="4e9f8c0723" />
<meta name="verification" content="5ae535d3628df9e6b27034a609b30c4f" />
{% if page.robots %}<meta name="robots" content="noindex,follow" /> {% else %} {% endif %}
<link rel="icon" href="{{ site.baseurl }}/assets/images/logo.png">
<meta name="seodity-site-verification" content="seodity-site-verification-7f8e7648f12a40c7a57ef014377c055b" />
    
<title>{{ page.title }}</title>
<link rel="canonical" href="{% if page.canonical %}{{ page.canonical }}{% else %}{{ site.url }}{{ page.url }}{% endif %}" /> 
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
<meta property="og:type" content="{% if page.topic %}{{ page.topic}}{% else %}article{% endif %}"/>
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:image" content="{% if page.meta_image %}{{ site.url }}/{{ page.meta_image }}{% elsif page.image_path %}{{site.url}}/assets/images/{{page.image_path}}{% endif %}"/>
 

{% if page.layout == "travel" %}{% include criticalcss-travel.html %}
{% elsif page.layout == "review" %}{% include criticalcss-review.html %}
{% elsif page.layout == "stiri" %}{% include criticalcss-blog.html %}
{% else %}{% include criticalcss.html %}{% endif %}

<link rel="preload" fetchpriority="high" as="image" {% if page.image %} href="{{ site.url }}{{page.image}}" {% elsif page.layout == "review" %} href="{{ site.url }}/assets/images/reviews/{{ page.image_path }}" {% elsif page.layout == "stiri" %} href="{{ site.url }}/assets/images/{{ page.image_path }}" {% endif %} type="image/webp">

<link rel="preload" href="/assets/css/bootstrap-grid.min.css" type="text/css" as="style"onload="this.onload=null;this.rel='stylesheet';" crossorigin="anonymous">
<!--<link rel="stylesheet" href="/assets/css/bootstrap-grid.min.css" type="text/css">-->
<link rel="stylesheet" href="/assets/css/main-minified.css" type="text/css">
	

<!-- Hello Awin -->
    
<!-- Hello Travelpayouts -->
</head>

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="">
