---
## Galerie foto obiective turistice {{ page.oras }}

{% include galerie-travel.html %}


{% assign atractieid = site.new-travel | where: "cat", "atractie" | where: "id-oras", page.id-oras | sort: "position" %}
{% assign i = 0 %}
{% if atractieid %}
  {% for trip in atractieid limit: page.no-atractii %}
    {% capture i %}{{ i | plus: 1 }}{% endcapture %}
    
<div class="atr-hold">
<h2 id="{{trip.atractie | slugify }}">{{i}}. {{trip.atractie}}</h2>
<img src="/assets/images/travel/{{trip.folder}}/{{trip.imagine}}" alt="{{trip.atractie}}" class="atr-img">
  <p>{{ trip.text-intro | truncate: 1000 }}<b><a href="{{trip.url}}">citește mai mult</a></b></p>
</div>
<hr class="hr-s1">
  {% endfor %}
{% endif %}