{% assign desired_category = page.desired-cat %}
{% assign atractieid = site.new-travel | where: "cat", "atractie" | where: "id-oras", page.id-oras | sort: "position" %}
{% assign i = 0 %}
{% if atractieid %}
  {% for trip in atractieid %}
    {% if trip.categorie-generata-1 contains desired_category or trip.categorie-generata-2 contains desired_category or trip.categorie-generata-3 contains desired_category %}
      {% capture i %}{{ i | plus: 1 }}{% endcapture %}
      
<div class="atr-hold">
<h2 id="{{trip.atractie | slugify }}">{{i}}. {{trip.atractie | smartify }}</h2>
<br>
<img src="/assets/images/travel/{{trip.folder}}/{{trip.imagine}}" alt="{{trip.atractie | | smartify }}" loading="lazy" class="atr-img">
<p>{{ trip.text-intro | truncate: 1000 }}<b><a href="{{trip.url}}">citește mai mult</a></b></p>
</div>
<hr class="hr-s1">

    {% endif %}
    
  {% endfor %}
{% endif %}
