<div class="col-12 harta">

<h2 class="fara-subliniere" id="harta-atractii-apropiere">HARTA ATRACȚIILOR TURISTICE DIN {{ page.oras }}</h2>

<div id="map" style = "width:100%; height:580px;">
</div>

</div>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="     crossorigin="">
</script>


<script async>

   // Creating a map object
   var map = L.map('map').setView([{{page.latitudine}}, {{page.longitudine}}], 15);

   // Creating a Layer object
   var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png',{
  attribution: '© OpenStreetMap contributors, © CartoDB'
});


   // Adding layer to the map
   map.addLayer(layer);
  
 
  // Custom icon options
var iconOptions = {
  iconUrl: '/assets/images/svg/map-marker.svg',
  iconSize: [50, 50]
};

// Creating a custom icon
var customIcon = L.icon(iconOptions);

// Markers with popup content and custom icon
var markers = [
  {% assign atractieid = site.new-travel | where: "cat", "atractie" | where: "id-oras", page.id-oras %}
  {% if atractieid %}
  {% for trip in atractieid %}
    
  { coords: [{{trip.latitudine}}, {{trip.longitudine}}], popup: "<div class='popup-image-holder' style='background-image: url(/assets/images/travel/{{trip.folder}}/{{trip.imagine-mobile}});'></div><a href='{{ trip.url}}'>{{trip.atractie}}</a>" },
    
  {% endfor %}
  {% endif %}
];

// Adding markers to the map
markers.forEach(function(marker) {
  L.marker(marker.coords, { icon: customIcon })
    .bindPopup(marker.popup)
    .addTo(map);
});



</script>


<style>
  .popup-image-holder {
    height: 65px;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  }
  .leaflet-popup-content {
    min-height: 65px;
    width: 100px !important;
}
</style>



