<!-- sample modal content -->
<div id="mymodal{% increment modal1 %}" class="modal fade custom-modal modal4" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; 99991!important;">
	<div class="modal-dialog modal-lg mod-dia">
		<div style="border: 0; border-radius: 0;" class="modal-content po-relative">
			<div class="modal-body p-0">
				<div class="row">
					<span class="perc perc-mod">{{ product.discount }}%</span>
					{% if page.category == "fashion" or page.category == "incaltaminte" %}
					<div class="col-lg-5 col-md-3 modal-bg-img" style="text-align: center;">
						<img src="https://abpipzueen.cloudimg.io/width/550/x/{{ product.product_pic }}">
						{% else %}
						<div class="col-lg-5 col-md-3 modal-bg-img" style="text-align: center; padding: 50px;">
						<img src="https://abpipzueen.cloudimg.io/height/500/x/{{ product.product_pic }}">
						{% endif %}
						</div>
					<div class="col-lg-7 col-md-9">
						<div class="modal-bg">
							<h2 class="mod-title">
								{{ product.product_name }}
							</h2>
							<p class="adv-mod" >{{ product.adv_name }}</p>
								<p class="price-mod">{{ product.price_discounted }}
								{% if product.price_discounted != product.price_d_after %},{{ product.price_d_after }}{% endif %} Lei
								<span class="oldp-mod">{{ product.price_vat }}
								{% if product.price_vat != product.price_after %},{{ product.price_after }}{% endif %} Lei</span>
								</p>
							{% if product.shipping == "1" %}
							<p><i class="icon-Truck"></i> Transport gratuit</p> 
							{% endif %}
							{% if product.gift == "1" %}
							<p><i class="icon-Gift-Box"></i> Cadou inclus</p> 
							{% endif %}
							<a href="{{ product.product_aff_link }}" target="_blank" class="btn btn-danger-gradiant btn-md btn-arrow text-white"><span>Spre produs <i class="ti-arrow-right"></i></span></a>
							{% if product.description != "" %}
							{% if product.adv_name contains "answear" %}
							{% assign desc = product.description | split: " -" %}
							<ul class="description-mod">
							{% for lines in desc %}
							{% if forloop.last == true %}
								
    						{% else %}
							<li>{{ lines }}</li>
							{% endif %}
							{% endfor %}
							</ul>
							{% else %}
							<p class="description-mod">{{ product.description }}</p>
							{% endif %}
							{% endif %}
					</div>
				</div>
				<a href="#" class="close-btn" data-dismiss="modal" aria-hidden="true">×</a>
			</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

	