
<!-- ============================================================== -->
                <!-- Header 17  -->
                <!-- ============================================================== -->
								<div class="header-push" style="height: 65px;"></div>
                <div class="header17 topbar" style="">
                    <div class="">
                        <!-- Header 13 navabar -->
                        <nav class="row col">
                            <div class="col-lg-11 col-7">
                                <a class="navbar-brand" aria-label="Logo site duce spre pagina de home" href="{{ site.url }}"><img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}" width="177" height="34" /></a>
                            </div>
													<!-- HTML elements for search -->
														<div class="col-lg-1 col-5 icons-cont">
                                <ul class="ul-nav">
																	<li class="list-nav" ><a class="" aria-label="Duce spre pagina de cautare" href="{{site.url}}/search"><img src="/assets/images/svg/search.svg" alt="iconita meniu" width="26.66" height="26.66"></a></li>
																	<li class="list-nav"><a class="tgl-cl" aria-label="Deschide meniul" href="javascript:void(0)"><img src="/assets/images/svg/menu.svg" alt="iconita meniu" width="26.66" height="26.66"></a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- End Header 13 navabar -->
                    </div>
                    <div class="h17-main-nav animated fadeInDown justify-content-center" data-aos="fade-up">
                        <div class="h-17navbar align-self-center">
                            <a href="javascript:void(0)" class="close-icons tgl-close"><img src="/assets/images/svg/close.svg"></a>
                            <ul class="nav-menu">
                                <li><i class="icon-Tag" style="font-size: -webkit-xxx-large; color: #ff4d7e;"></i></li>
                                <li class="active"><a href="/index.html">ACASĂ</a></li>
                                <li><a href="/despre.html">DESPRE</a></li>
															  <li><a href="/review/">REVIEW</a></li>
																<li><a href="/travel/">TRAVEL</a></li>
																<li><a href="/stiri/">BLOG</a></li>														
																<li><a href="/magazine.html">MAGAZINE</a></li>
																<li><a href="/contact.html">CONTACT</a></li>
																<li><a href="#">________</a></li>
															</ul>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Header 17 -->
                <!-- ============================================================== -->
				<!-- Scroll to top
================================================== -->
<a id="back2Top" title="Back to top" href="#">&#10148;</a>
