<!-- Begin Menu Navigation
================================================== -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation nav-down">
    
    <div class="container pr-0">    
    
    <!-- Begin Logo -->
    <a class="navbar-brand" href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
    </a>
    <!-- End Logo -->
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediumish" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    
    
    <div class="collapse navbar-collapse" id="navbarMediumish">
       
        <!-- Begin Menu -->
        
            <ul class="navbar-nav ml-auto">
                
							
                {% if page.url == "/" %}
                <li class="nav-item act-nav ">
                {% else %}
                <li class="nav-item">
                {% endif %}
                <a class="nav-link cta" href="{{ site.baseurl }}/index.html">ACASA</a>
                </li>
                
                {% if page.url == "/about" %}
                <li class="nav-item act-nav">
                {% else %}
                <li class="nav-item">
                {% endif %}
                <a class="nav-link cta" href="{{ site.baseurl }}/about">DESPRE</a>
                </li>
				<div class="dropdown">
  					<a class="btn btn-secondary dropdown-toggle cta" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						CATEGORII
					</a>
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							{% assign posts = site.posts | sort | reverse  %}
								{% for post in posts %}
									{% if post.index == 1 %}
									   <a class="dropdown-item" href="{{ site.baseurl }}/{{ post.url }}">{{ post.title | upcase }}</a> 
							  {% unless forloop.last %}
							  			<div class="dropdown-divider"></div>
							  {% endunless %}
									{% endif %}
							 {% endfor %}							
						  </div>
				</div>
                <!--
                <li class="nav-item">
                <a target="_blank" class="nav-link" href="https://www.facebook.com/wowthemesnet/"><i class="fab fa-facebook-f"></i></a>
                </li>
                
                <li class="nav-item">
                <a target="_blank"  class="nav-link" href="https://twitter.com/wowthemesnet"><i class="fab fa-twitter"></i></a>
                </li>
				 -->
				
				<li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/search"><i class="fa fa-search"></i></a>
                </li>
                
				
            </ul>		
  
        <!-- End Menu -->

    </div>
        
    </div>
</nav>
<!-- End Navigation
================================================== -->