<div class="card-wrapper col-lg-6">
	<div class="for-style">
  {% if post.image contains "transparent" %}
	<div class="imagine-post" style="background-image: url('{{ post.image }}'); background-size: contain; background-color: black;">
  {% else %}
  <div class="imagine-post" style="background-image: url('{{ post.image }}'); background-size: cover; background-color: black;">
  {% endif %}
	<span class="author-post">✒️ {{ post.author }}</span>
	</div>
	<div class="footer-post">
		<a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
		<p>{{ post.description }}</p>
		<span class="data-post">📅 {{ post.date | date: "%b %d, %Y" }}</span>
	</div>
	</div>
</div>