
<figure class="snip1529 col-lg-3">
  <img src="{{ post.image }}" />
  <div class="date">
      <span class="month">pana la</span>
      <span class="day">
		  
          {% assign products = site.data.prod_org[ post.category ] %} 
                    {% for product in products limit:1 %}
                        {{ product.discount }}%
                    {% endfor %}
		 
      </span>
      
  </div>
  <figcaption>
    <h3>{{ post.title | upcase }}</h3>
  </figcaption>
  <div class="hover"></div>
  <a href="{{ post.url | absolute_url }}"></a>
</figure>

