{% assign emag = site.data.preturi.emag %}
{% assign ihunt = site.data.preturi.ihunt %}
{% assign evomag = site.data.preturi.evomag %}
{% assign pcgarage = site.data.preturi.pcgarage %}
{% assign quick = site.data.preturi.quick %}
{% assign vexio = site.data.preturi.vexio %}

{% assign things = emag | concat: ihunt | concat: evomag | concat: pcgarage | concat: quick | concat: vexio %}

<!-- Preturi Magazine General-->
<div class="row">
	<!-- Preturi Magazine Emag-->
	{% for produse in things %}
	{% if produse.magazin contains "emag" and produse.id contains page.cod-emag %}
	{% assign cut_nou = produse.new_price | size | minus: 6 %}
	{% assign cut_old = produse.old_price | size | minus: 6 %}
  <div style="padding: 10px" class="col-12 col-lg-6">
    <div class="price-box row">
				<div class="col-4" style="padding: 6px; border-right: solid 1px #d3d3d375; text-align: center;"><img class="logo-shop" src="/assets/images/logo-emag.png" alt="{{ page.title }}"></div>
				<div class="col-6 pl-1" ><p style="margin: 0;font-weight: 700;">{{ produse.new_price | slice: 0, cut_nou }} Lei{% if produse.old_price != "" %}<span class="old-p">{{ produse.old_price | slice: 0, cut_old }} Lei</span>{% endif %}</p><p style="margin: 0; font-size: 11px;">{{ produse.magazin }}.ro</p></div>
				<a target="_blank" href="{{ page.link-emag }}"><img class="go-img" src="/assets/images/reviews/go.png" alt="{{ page.title }}"></a>
    </div>
  </div>
	{% endif %}
{% endfor %}
<!-- Sfarsit Emag-->
	
<!-- Preturi Magazine iHunt -->
{% for produse in things %}
{% if produse.magazin contains "iHunt" and produse.id contains page.cod-ihunt %}
<div style="padding: 10px" class="col-12 col-lg-6">
	<div class="price-box row">
			<div class="col-4" style="padding: 6px; border-right: solid 1px #d3d3d375; text-align: center;"><img class="logo-shop" src="/assets/images/reviews/logo-ihunt.png" alt="{{ page.title }}"></div>
			<div class="col-6 pl-1" ><p style="margin: 0;font-weight: 700;">{{ produse.new_price | replace: 'ACUM: ', ''}}<span class="old-p">{{ produse.old_price | replace: 'a fost ','' }} Lei</span></p><p style="margin: 0; font-size: 11px;">{{ produse.magazin }}.ro</p></div>
			<a target="_blank" href="{{ page.link-ihunt }}"><img class="go-img" src="/assets/images/reviews/go.png" alt="{{ page.title }}"></a>
	</div>
</div>
{% endif %}
{% endfor %}
<!-- Sfarsit Ihunt-->
	
<!-- Preturi Magazine EvoMag -->
{% for produse in things %}
{% if produse.magazin contains "evomag" and produse.id contains page.cod-evomag %}
<div style="padding: 10px" class="col-12 col-lg-6">
	<div class="price-box row">
			<div class="col-4" style="padding: 6px; border-right: solid 1px #d3d3d375; text-align: center;"><img class="logo-shop" src="/assets/images/reviews/logo-evomag.png" alt="{{ page.title }}"></div>
			<div class="col-6 pl-1" ><p style="margin: 0;font-weight: 700;">{{ produse.new_price | replace: 'ACUM: ', ''}}<span class="old-p">{% if produse.old_price != "" %}{{ produse.old_price | replace: 'a fost ','' }} Lei{% endif %}</span></p><p style="margin: 0; font-size: 11px;">{{ produse.magazin }}.ro</p></div>
			<a target="_blank" href="{{ page.link-evomag }}"><img class="go-img" src="/assets/images/reviews/go.png" alt="{{ page.title }}"></a>
	</div>
</div>
{% endif %}
{% endfor %}
<!-- Sfarsit Evomag -->
	
<!-- Preturi Magazine Pcgarage -->
{% for produse in things %}
{% if produse.magazin contains "PCgarage" and produse.id contains page.cod-pcgarage %}
<div style="padding: 10px" class="col-12 col-lg-6">
	<div class="price-box row">
			<div class="col-4" style="padding: 6px; border-right: solid 1px #d3d3d375; text-align: center;"><img class="logo-shop" src="/assets/images/reviews/logo-pcgarage.png" alt="{{ page.title }}"></div>
			<div class="col-6 pl-1" ><p style="margin: 0;font-weight: 700;">{{ produse.new_price | replace: 'Pret:', '' |  replace: " RON", " Lei"}}<span class="old-p">{% if produse.old_price != "" %}{{ produse.old_price | replace: 'Pret vechi:','' | replace: " RON", "Lei" }}{% endif %}</span></p><p style="margin: 0; font-size: 11px;">{{ produse.magazin }}.ro</p></div>
			<a target="_blank" href="{{ page.link-pcgarage }}"><img class="go-img" src="/assets/images/reviews/go.png" alt="{{ page.title }}"></a>
	</div>
</div>
{% endif %}
{% endfor %}
<!-- Sfarsit Pcgarage -->
	
<!-- Preturi Magazine QuickMobile -->
{% for produse in things %}
{% if produse.magazin contains "QuickMobile" and produse.id contains page.cod-quick %}
<div style="padding: 10px" class="col-12 col-lg-6">
	<div class="price-box row">
			<div class="col-4" style="padding: 6px; border-right: solid 1px #d3d3d375; text-align: center;"><img class="logo-shop" src="/assets/images/reviews/logo-qmobile.png" alt="{{ page.title }}"></div>
			<div class="col-6 pl-1" ><p style="margin: 0;font-weight: 700;">{{ produse.new_price | replace: 'Pret:', '' | replace: 'Lei', ' Lei'}}<span class="old-p">{% if produse.old_price != "" %}{{ produse.old_price | replace: 'Pret vechi:','' | split: " " | first }} Lei{% endif %}</span></p><p style="margin: 0; font-size: 11px;">{{ produse.magazin }}.ro</p></div>
			<a target="_blank" href="{{ page.link-quick }}"><img class="go-img" src="/assets/images/reviews/go.png" alt="{{ page.title }}"></a>
	</div>
</div>
{% endif %}
{% endfor %}
<!-- Sfarsit Quickmobile -->
	
<!-- Preturi Magazine Vexio -->
{% for produse in things %}
{% if produse.magazin contains "vexio" and produse.id contains page.cod-vexio %}
<div style="padding: 10px" class="col-12 col-lg-6">
	<div class="price-box row">
			<div class="col-4" style="padding: 6px; border-right: solid 1px #d3d3d375; text-align: center;"><img class="logo-shop" src="/assets/images/reviews/logo-nexio.png" alt="{{ page.title }}"></div>
			<div class="col-6 pl-1" ><p style="margin: 0;font-weight: 700;">{{ produse.new_price | replace: 'Pret:', ''}}<span class="old-p">{% if produse.old_price != "" %}{{ produse.old_price | replace: 'Pret vechi:','' }}{% endif %}</span></p><p style="margin: 0; font-size: 11px;">{{ produse.magazin }}.ro</p></div>
			<a target="_blank" href="{{ page.link-vexio }}"><img class="go-img" src="/assets/images/reviews/go.png" alt="{{ page.title }}"></a>
	</div>
</div>
{% endif %}
{% endfor %}
<!-- Sfarsit Vexio -->

</div>
<style>
	.logo-shop {
		max-height: 45px;
		max-width: 75%;
	}
	.old-p {
		position: absolute;
    font-size: 10px;
    top: 19px;
    margin-left: 5px;
    left: 0;
    text-decoration: line-through red;
	}
	@media (max-width: 570px) {
		.old-p {
			top: 15px;
		}
	}
</style>