<!-- begin post -->

<div class="col-lg-4 col-md-6 col-6 mb-30px mix {{ product.adv_name | remove: ".ro" }} card-group" data-discount="{{ product.discount }}" data-price="{{ product.price_discounted | round: 0 }} ">
    <div class="card h-100">
        <div class="maxthumb">   
            <a href="{{ product.product_aff_link }}" target="_blank">
                <img class="img-fluid lazy" data-src="https://abpipzueen.cloudimg.io/width/254/x/{{ product.product_pic }}" src="https://abpipzueen.cloudimg.io/width/254/x/{{ product.product_pic }}" alt="{{ product.product_name }}" data-toggle="tooltip" data-placement="top" title="{{ product.manufacturer }}"> 
            </a>
            <span class="adv" >{{ product.adv_name }}</span><br/>
            <span class="manufacturer" >{{ product.manufacturer }}</span><br/>
        </div>
        <div class="card-body">
            <h2 class="card-title"><a class="text-dark" href="{{ product.product_aff_link }}" target="_blank">{{ product.product_name }}</a></h2>     
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                
                <span class="price">{{ product.price_discounted | round: 0 }} Lei</span><br/>
                <span class="old-price">{{ product.price_vat | round: 0 }} Lei</span><br/>
                <span class="perc">{{ product.discount }}%</span><br/>
                <span  data-toggle="modal" data-target="#exampleModal" data-whatever="{{ product.product_name }}" class="categorie">{{ product.category | upcase }}</span>              
                <a class="citeste" href="{{ product.product_aff_link }}" target="_blank">VEZI PRODUS</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<!-- end post -->