<!-- begin post -->
<div class="col-lg-3 col-md-6 col-6 mb-30px item lazy {{ product.manufacturer | split: " " | first }} {{ product.adv_name | remove: '.ro' | | remove: " " }} card-group" data-discount="{{ product.discount }}" data-price="{{ product.price_discounted | round: 0 }} ">
    <div class="card h-100">
		{% if page.category == "tehnologie" or page.category == "cosmetice-parfumuri" %}
        <div class="maxthumb" ><img src="https://abpipzueen.cloudimg.io/height/200/n/{{ product.product_pic }}">
			<style>
			@media (max-width: 578px) {
    			.maxthumb { padding: 52px; !important;}
				}
			</style>
			{% elsif page.category == "incaltaminte" or page.category == "incaltaminte-barbati" or page.category == "cadouri" %}
			<div class="maxthumb"> <img src="https://abpipzueen.cloudimg.io/width/253/n/{{ product.product_pic }}" >
			{% elsif page.category == "fashion" or page.category == "fashion-barbati" %}
				{% if product.adv_name contains "BIBLOO"%}
					<div class="maxthumb">
					<img src="https://abpipzueen.cloudimg.io/height/317/n/{{ product.product_pic }}"> <style>@media (max-width: 578px){.maxthumb img { max-height: 192px; !important;}}</style>	
					{% else %}
					<div class="maxthumb">
					<img src="https://abpipzueen.cloudimg.io/width/253/n/{{ product.product_pic }}">
				{% endif %}
			{% else %}
			<div class="maxthumb" style="background: url(https://abpipzueen.cloudimg.io/width/254/x/{{ product.product_pic }}); background-size: cover;" >
			{% endif %}
            <span class="adv" >{{ product.adv_name }}</span><br/>
            <span class="manufacturer" >{{ product.manufacturer }}</span><br/>
        </div>
        <div class="card-body-custom">
            <h2 class="card-title-custom"><a class="text-dark" href="{{ product.product_aff_link }}" target="_blank">{{ product.product_name }}</a></h2>     
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
				<div>
				<span class="price">{{ product.price_discounted | round: 0 }} Lei <span class="old-price">{{ product.price_vat | round: 0 }} Lei</span></span>
				</div>
				<span class="perc">{{ product.discount }}%</span><br/> 
				<a class="citeste" data-toggle="modal" data-target="#mymodal{% increment modal %}" >DETALII</a>
             </div>
        </div>
    </div>
</div>
<!-- end post -->

{% include modal.html %}