<div class="col-lg-4 col-12 wrapper-side order-lg-12" style="padding-left: 25px; padding-right: 0;">
<div id="sidebar">
<div class="col review-side">
  <h5 class="title-section-sidebar">RECENT</h5>
	<hr>
	{% assign travels = site.travel | sort: 'date' | reverse %}
	{% for travel in travels limit:4 %}
		<a href="{{ travel.url }}">
		<div class="small-post">
	<img class="small-post-image" alt="{{ page.title }}" src="http://images.weserv.nl/?url={{ site.url }}{{ travel.image }}&h=41&output=jpg&q=65" height="41px" width="79px">
		{{ travel.title }}
		</div>
		<span class="small-post-meta"><img src="/assets/images/svg/author.svg"> {{travel.author}} </span>
		<span class="small-post-meta"><img src=/assets/images/svg/calendar.svg/> {{ travel.date | date_to_string }} </span>
		<hr style="border: 0; margin: 0;">
		</a>
	{% endfor %}
	</div>

<div class="col review-side">
<h5 class="title-section-sidebar">ȚĂRI</h5>
	<hr>
		{% assign tari = site.travel | map: 'tara' | uniq %}
		{% for item in tari reversed %}
		<a href="{{ site.url }}/travel" onclick="window.name = '{{ item }}';" style="color: black;">
			{{ item }}
		<hr style="border: 0;">
		</a>
	{% endfor %}
</div>

</div>
</div>
</div>
	
	
</div>	
</div>

<style>
	.small-post {
		overflow: hidden;
    font-size: 12px;
    margin-bottom: 13px;
    max-height: 39px;
    height: 42px;
    font-weight: 500;
		font-style: italic;
		color: black;
	}
	.small-post-image {
		max-width: 25%;
    border-radius: 4px;
    float: left;
    margin-right: 10px;
	}
	.small-post-meta {
		position: relative;
    top: -19px;
    font-size: 11px;
    font-style: italic;
    color: black;
		margin-right: 4px;
	}
	.line-sub {
		margin-top: -17px;
    margin-bottom: 17px;
	}
	.line-sub-cat {
		margin-bottom: 15px;
    margin-top: 0px;
	}
	.title-section-sidebar {
		font-weight: 900;
		display: inline;
    border-bottom: solid black;
    padding-bottom: 11px;
	}
	
</style>