<div class="col-lg-4 col-12 wrapper-side order-lg-12" style="padding-left: 25px; padding-right: 0;">
<div id="sidebar">
{% if page.sidebar != "cat" %}

<div class="col review-side">
<span class="title-section-sidebar">RECENTE</span>
	<hr>
		{% assign cate = site.data.search | where: "cat", page.cat %}
		{% for item in cate reversed limit: 8 %}	
			<a href="{{ item.url }}">
				<div class="small-post">
				<img class="small-post-image" alt="{{ item.title }}" src="http://images.weserv.nl/?url=https://totredus.ro{{ item.image }}&h=41&output=jpg&q=65" width="79" height="41">
				{{ item.title }}
				</div>
				<span class="small-post-meta"><img src="/assets/images/svg/author.svg" width="10.6" height="10.6" alt="totredus"> {{item.author}} </span>
				<span class="small-post-meta"><img src="/assets/images/svg/calendar.svg" width="10.6" height="10.6" alt="totredus"> {{ item.date | date_to_string }} </span>
			</a>
	{% endfor %}
</div>	
{% endif %}	
	
<div class="col review-side">
<span class="title-section-sidebar">CATEGORII</span>
	<hr>
		{% assign cat = site.data.search | map: 'cat' | uniq %}
		{% for item in cat reversed %}
		<a href="{{ site.url }}/{{ item | replace: ' ', '-' | downcase }}/" style="color: black;">
			{{ item }}
		<hr style="border: 0;">
		</a>
	{% endfor %}
</div>	
	
</div>	
</div>

<style>
.small-post {
    overflow: hidden;
    font-size: 13px;
    margin-bottom: 15px;
    max-height: 45px;
    height: 45px;
    font-weight: 500;
    font-style: italic;
    color: black;
}
	.small-post-image {
		max-width: 25%;
    border-radius: 4px;
    float: left;
    margin-right: 10px;
	}
	.small-post-meta {
		position: relative;
    top: -19px;
    font-size: 11px;
    font-style: italic;
    color: black;
		margin-right: 4px;
	}
	.line-sub {
		margin-top: -17px;
    margin-bottom: 17px;
	}
	.line-sub-cat {
		margin-bottom: 15px;
    margin-top: 0px;
	}
	.title-section-sidebar {
		font-weight: 900;
		display: inline;
    border-bottom: solid black;
    padding-bottom: 13px;
	}
	
</style>