{% assign rawtags = "" %}
{% for review in site.reviews %}
  {% assign ttags = review.tags | join:'|' | append:'|' %}
  {% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}
	
{% assign site.tags = "" %}
{% for tag in rawtags %}
  {% if tag != "" %}
    {% if tags == "" %}
      {% assign tags = tag | split:'|' %}
    {% endif %}
    {% unless tags contains tag %}
      {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
    {% endunless %}
  {% endif %}
{% endfor %}

{% assign strtags = "" %}
{% for stiri in site.stiri %}
  {% assign ttags = stiri.tags | join:'|' | append:'|' %}
  {% assign strtags = strtags | append:ttags %}
{% endfor %}
{% assign strtags = strtags | split:'|' | sort %}

{% assign site.tags = "" %}
{% for tag in strtags %}
  {% if tag != "" %}
    {% if tags == "" %}
      {% assign tagsN = tag | split:'|' %}
    {% endif %}
    {% unless tagsN contains tag %}
      {% assign tagsN = tagsN | join:'|' | append:'|' | append:tag | split:'|' %}
    {% endunless %}
  {% endif %}
{% endfor %}


<div class="col review-side">
<span class="title-section-sidebar">TAGURI</span>
	<div class="tagcloud">
	{% for tag in tags offset:1 %}
			<a href="{{ site.url }}/review" class="taglink" onclick="window.name = '{{ tag | upcase }}';">{{ tag | upcase }}</a>
	{% endfor%}
	{% for tag in tagsN offset:1 %}
			<a href="{{ site.url }}/stiri" class="taglink" onclick="window.name = '{{ tag | upcase }}';">{{ tag | upcase }}</a>
	{% endfor%}
	</div>
</div>

<style>
	.tagcloud {
		margin-top: 30px;
	}
	.taglink {
		border: solid 1px #d3d3d382;
    border-radius: 3px;
    display: inline-block;
    padding: 5px 10px;
		margin-top: 5px;
    color: black;
    font-weight: 500;
    box-shadow: 0 0 19px -2px lightgrey;
	}
</style>