 <!-- Start ProfitShare Zone 11367472 -->
<script type="text/javascript">
if("undefined"==typeof profitshare_id)var profitshare_id={};
if("undefined"!=typeof profitshare_id["11367472"]?profitshare_id["11367472"]++:profitshare_id["11367472"]=1,document.write('<div id="profitshare-11367472-'+profitshare_id["11367472"]+'" style="width:310px; heigh:150px; border-radius: 5px;"></div>'),1==profitshare_id["11367472"]){var c=document.createElement("script");c.type="text/javascript",c.async=!0,c.src=("https:"==document.location.protocol?"https://":"http://")+"w.profitshare.ro/a/umHL",document.getElementsByTagName("head")[0].appendChild(c)}
</script>
<!-- End ProfitShare Zone 11367472 -->
