.snip1529 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1529 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  opacity: 0.75;
}

.snip1529 figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background: #00000052;
width: 100%;
}

.snip1529 .date {
  background-color: #f4603a;
  color: white;
  font-size: 18px;
  font-weight: 800;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

.snip1529 .date span {
  display: block;
  line-height: 14px;
}

.snip1529 .date .month {
  font-size: 8px;
}
.snip1529 .date .day {
  color: white;
}

.snip1529 h3,
.snip1529 p {
  margin: 0;
  padding: 0;
}

.snip1529 h3 {
  font-weight: 800;
  letter-spacing: -0.4px;
  color: white;
}

.snip1529 .hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  background: black;
  display: flex;
  font-size: 65px;
  justify-content: center;
  opacity: 0;
}
.date::before {
  content: "";
    position: absolute;
    bottom: -1.5em;
    left: 0;
    width: 0;
    height: 0;
    border-top: 1.5em solid #f4603a;
    border-right: 1.5em solid transparent;  
}
.date::after {
    content: "";
    position: absolute;
    bottom: -1.5em;
    right: 0;
    width: 0;
    height: 0;
    border-top: 1.5em solid #f4603a;
    border-left: 1.5em solid transparent;
}
.snip1529 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip1529:hover .hover,
.snip1529.hover .hover {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 0.3;
}


.snip1529:hover figcaption,
.snip1529.hover figcaption {
  opacity: 0;
}

.controls-pagination {
    padding: 1rem;
    font-size: 0.1px;
    text-align: justify;
	text-align: center;
	
}

.controls-pagination:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.mixitup-page-list,
.mixitup-page-stats {
    display: inline-block;
    vertical-align: middle;
}

.mixitup-page-list {
    text-align: left;
}

.mixitup-page-stats {
    font-size: .9rem;
    color: #333;
    font-weight: bold;
    font-family: 'helvetica', arial, sans-serif;
}

.mixitup-control {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 29px;
    height: 29px;
    background: $black-ish;
    border: none;
    cursor: pointer;
    font-size: .9rem;
    transition: color 150ms, border-color 150ms;
    vertical-align: middle;
	border-radius: 4px;
    margin: 3px;
    color: white;
    font-weight: 500;
}

.mixitup-control:hover {
	color: white;
	transform: translateX(1px); 
	transition-timing-function: ease-in;
}

.mixitup-control:disabled {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 29px;
    height: 29px;
    background: $green-ish;
    border: none;
    cursor: pointer;
    font-size: .9rem;
    transition: color 150ms, border-color 150ms;
    vertical-align: middle;
	border-radius: 4px;
    margin: 3px;
    color: white;
    font-weight: 500;
}

.mixitup-control-truncation-marker {
    background: transparent;
    pointer-events: none;
    line-height: 2.2em;
	color: #64c0c0;
    border: none;
}
@media (min-width: 768px) {
.banner {
	padding: 4rem 7rem;
}
}
.commer-1 {
	height: 176px;
	background: black;
	margin-bottom: 8px;
	background-size: cover;
    box-shadow: 0 0 13px -4px lightblue;
	background-blend-mode: overlay;
    background-color: #dd114487;
}
.commer-2 {
	height: 176px;
	background: black;
	background-size: cover;
    box-shadow: 0 0 13px -4px lightblue;
	background-blend-mode: overlay;
    background-color: #28a745b8;
}
.commer-1 a {
    text-align: center;
    position: relative;
    color: white;
    background: #00000066;
    font-weight: 600;
    padding: 7px;
    bottom: -138px;
}
.commer-2 a {
    text-align: center;
    position: relative;
    color: white;
    background: #00000066;
    font-weight: 600;
    padding: 7px;
    bottom: -138px;
}
.banner {
	position: relative;
    text-align: center;
    background-color: #343a40;
    background-blend-mode: overlay;
    background-size: cover;
	background-position: center;
	color: white;
	border-radius: 0;
	box-shadow: 0 0 13px -4px lightblue;
}
.banner .display-4 {
	font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.2;
}
.carousel-indicators {
	bottom: 50px;
	display: none;
}

figure.snip1278 {
  font-family: "Righteous", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 3px;
  min-width: 230px;
  max-width: 310px;
  width: 100%;
  background: #1a1a1a;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  padding: 0;
}
figure.snip1278 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.snip1278 .image {
  background-color: #000000;
  width: 100%;
  overflow: hidden;
}
figure.snip1278 .image:after {
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 50%;
  bottom: 0;
}
figure.snip1278 img {
  max-width: 100%;
  vertical-align: top;
}
figure.snip1278 figcaption {
  position: absolute;
  width: 50%;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 10px 25px;
}
figure.snip1278 h4,
figure.snip1278 p,
figure.snip1278 .card-price {
  margin: 0 0 8px;
}
figure.snip1278 h4 {
  position: absolute;
  width: 50%;
  top: 10px;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 1px;
  z-index: 1;
}
figure.snip1278 p {
  font-size: 0.7em;
  font-weight: 500;
  line-height: 1.6em;
}
figure.snip1278 .rating {
  position: absolute;
  width: 50%;
  line-height: 44px;
  color: #ffffff;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
figure.snip1278 .card-price {
  color: #ffffff;
  font-size: 1.3em;
  opacity: 0.8;
}
figure.snip1278 .card-price s {
  display: inline-block;
  padding: 0 8px 0 0;
  font-size: 0.85em;
  color: #f39c12;
}
figure.snip1278 .add-to-cart {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 600;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  line-height: 44px;
  font-size: 0.75em;
  text-transform: uppercase;
  color: #ffffff;
}
figure.snip1278:hover img,
figure.snip1278.hover img {
  opacity: 0.6;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip1278:hover .add-to-cart,
figure.snip1278.hover .add-to-cart {
  background-color: rgba(0, 0, 0, 0.5);
}





























