---
layout: default
title: Category
---

<section class="recent-posts">
    
<div class="section-title">

<h2><span>{{ page.category | upcase }} </span></h2>
      
</div>
<button type="button" data-sort="price:asc">Sort by price (low to high)</button>
<button type="button" data-sort="price:desc">Sort by price (high to low)</button>
<div class="row listrecent container1">
	

    {% assign products = site.data.prod_org[ page.category ] %}  
        {% for product in products limit: 200 %}
                {% include product.html %}
        {% endfor %}
    </div>
</section>

<div class="controls-pagination">
            <div class="mixitup-page-list"></div>
        </div>
</div>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.lazy.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/mixitup.js"></script>
<script src="{{ site.baseurl }}/assets/js/mixitup-pagination.min.js"></script>
   <script>
	   
	var containerEl = document.querySelector('.container1');
			
	var mixer = mixitup(containerEl, {
    
	pagination: {
        limit: 20 // impose a limit of 8 targets per page
    } 
	});
	   
	   
	$(function() {
        $('.lazy').Lazy();
    });
    </script>












