---
layout: default
title: Category
---

<section class="recent-posts">

<div class="section-title row">
{% if page.description %}
<blockquote class="descriere" style="margin: 10px; box-shadow: 0px 3px 23px rgba(0, 0, 0, 0.1);">
  <p>{{ page.description }}</p>
</blockquote>
{% endif %} 
<h2 class="col-lg-6 col-6"><span>{{ page.title | upcase }}</span></h2>
<div class="col-lg-6 col-6 sorting">
	<div class="btn-group sort-btn" style="margin-bottom: 3px;" role="group" aria-label="Sort by price">
		<span class="filt">PRET</span>
		<button data-mixitup-control type="button" class="filt" data-sort="price:asc"><i class="fas fa-chevron-up"></i></span></button>
		<button data-mixitup-control type="button" class="filt" data-sort="price:desc"><i class="fas fa-chevron-down"></i></span></button>
	</div>
	<div class="btn-group sort-btn" style="margin-bottom: 3px;" role="group" aria-label="Sort by discount">
		<span class="filt">DISCOUNT</span>
		<button data-mixitup-control type="button" class="filt" data-sort="discount:desc"><i class="fas fa-chevron-down"></i></span></button>
	</div>
			<select class="select-sort">
				<option value="random">SORTARE</option>
				<option value="discount:desc">DISCOUNT %</option>
				<option value="price:asc">PRET CRESC</option>
                <option value="price:desc">PRET DESC</option>
            </select>
</div>
	
	<div class="mixing col-lg-12">
		{% assign prod = site.data.prod_org[ page.categorie ] | sort: "discount" | reverse %}
		{% capture adv %}{% for product in prod limit: 400 %}{% if product.adv_name != page.exception and product.discount !=100 %}<button data-mixitup-control type="button" class="filt" style="flex: 0 0 auto;" data-toggle=".{{ product.adv_name | remove: '.ro' | remove: " " }}">{{ product.adv_name | upcase | remove: ".ro"}}</button>, {% endif %}{% endfor %}{% endcapture %}
		{{ adv | split: ", " | uniq }} 
	</div>	
	
</div>
	<!--Hello Awin
					<div class="container">
						<div class="hover-dropdown font-14" id="h6-info">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="h6-dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Shop <i class="fa fa-angle-down m-l-5"></i>
									</a>
                                    <ul class="b-none dropdown-menu font-14 animated fadeInUp" style="width: fit-content;">
										{% assign prod = site.data.prod_org[ page.categorie ] %}
										{% capture adv %}{% for product in prod limit: 300 %}{% if product.discount !=100 %}<button type="button" class="" style="flex: 0 0 auto;" data-toggle=".{{ product.manufacturer | remove: '.ro' | remove: " " }}">{{ product.manufacturer | upcase | remove: ".ro"}}</button>, {% endif %}{% endfor %}{% endcapture %}
										{{ adv | split: ", " | uniq }} 
                                        <li class="divider" role="separator"></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
					</div>						
	-->							

<div class="row container1">
	
	{% assign site.posts = post %}
    {% assign products = site.data.prod_org[ page.categorie ] | sort: "discount" | reverse %}  
        {% for product in products limit: 400 %}
			{% include product.html %}
        {% endfor %}
    </div>
</section>

		
		<div class="load-more-wrapper">
            <button type="button" class="load-more">MAI MULTE</button>
        </div>

</div>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.lazy.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/mixitup.js"></script>
<script src="{{ site.baseurl }}/assets/js/mixitup-pagination.min.js"></script>
  


	<script>
    var containerEl = document.querySelector('.container1');
	var selectSort = document.querySelector('.select-sort');
			
	var containerEl = document.querySelector('.container');
            var loadMoreEl = document.querySelector('.load-more');
            var currentLimit = 16;
            var incrementAmount = 16;

            var mixer = mixitup(containerEl, {
                pagination: {
                    limit: currentLimit	
                },
				 selectors: {
					target: '.item',
					control: '[data-mixitup-control]'
				},
                callbacks: {
                    onMixEnd: handleMixEnd
                }
            });

            function handleMixEnd(state) {
                // At the end of each operation, we must check whether the current
                // matching collection of target elements has additional hidden
                // elements, and enable or disable the load more button as
                // appropriate

                if (state.activePagination.limit + incrementAmount >= state.totalMatching) {
                    // Disable button

                    loadMoreEl.disabled = true;
                } else if (loadMoreEl.disabled) {
                    // Enable button

                    loadMoreEl.disabled = false;
                }
            }

            function handleLoadMoreClick() {
                // On each click of the load more button, we increment
                // the current limit by a defined amount

                currentLimit += incrementAmount;

                mixer.paginate({limit: currentLimit});
            }

            loadMoreEl.addEventListener('click', handleLoadMoreClick);
	selectSort.addEventListener('change', function() {
                var order = selectSort.value;
                mixer.sort(order);
            });
	   
		
		$(function() {
        $('.lazy').Lazy();
    });
</script>











