<!DOCTYPE html>
<html lang="ro">
	<style>html{scroll-behavior: smooth;} </style>
{% include head.html %}

{% include nav.html %}    

 
<div class="site-content"> <!-- full width container  -->



    {{ content }}

    

    

</div>
{% include footer.html %}  
	
<script>

	
// Sticky elements for the menu
let list = [],x = [], continut, he, outputList = '', bottom, rect;

function toggleShow() {
	var toc = document.getElementById('tocid');
	var state = toc.style.display;
	console.log(state);
	if (state === "none" || state === "") {
    	toc.style.display = "block";
  } else {
    	toc.style.display = "none";
  }
}

function getAllHeadings() {
    var continut = document.getElementById('continut');
    var he = continut.getElementsByTagName('h2');
    var list = [];
    var outputList = '';

    for (var i = 0; i < he.length; i++) {
        list.push(he[i].id);  // Schimbat din innerHTML la id
    }

    for (var i = 0; i < list.length; i++) {
        outputList += `
        <!-- begin post -->
            <li><a href="#${list[i]}">${he[i].innerHTML}</a></li>
        <!-- end post -->`    
    };

    document.getElementById('outputList').innerHTML = outputList;
}


window.onload = getAllHeadings;


window.onbeforeunload = function () {
  window.scrollTo(0, 0);
}

</script>

<style>
	.custom-link {
		border-radius: 10px;
    box-shadow: 0 0 15px -4px #918989ad;
    padding: 20px;
		margin-bottom: 10px;
		border: solid 1px #ebe6e6;
	}	
	.custom-link p {
		margin-bottom: 0;
	}
</style>