<!DOCTYPE html>
<html lang="ro">
	<style>html{scroll-behavior: smooth;} </style>
{% include head.html %}

{% include nav.html %}    

 
<div class="site-content"> <!-- full width container  -->



    {{ content }}

    

    

</div>
{% include footer.html %}  

<script>

	
// Sticky elements for the menu
let list = [],x = [], continut, he, outputList = '', bottom, rect;

function toggleShow() {
	var toc = document.getElementById('tocid');
	var cup = document.getElementById('cuprins')
	if (toc.style.marginLeft === "-205px") {
    toc.style.marginLeft = "-9px";
		toc.style.position = "fixed";
  } else {
    toc.style.marginLeft = "-205px";
		toc.style.position = "sticky";
  }

}
	
	function getAllHeadings() {
    var continut = document.getElementById('continut');
    var he = continut.getElementsByTagName('h2');

    for (var i = 0; i < he.length; i++) {
        list.push(he[i].innerHTML);
    }
        
    list.forEach(function(prod){
        var safeProd = prod.replace(/[,.;:?!]/g, '');  // Înlătură caracterele speciale din prod
        var encodedProd = encodeURIComponent(safeProd.split(' ').join('-')).toLowerCase();
        outputList += `
        <!-- begin post -->
            <li><a href="#${encodedProd}">${prod}</a></li>
        <!-- end post -->`    
    });

  document.getElementById('outputList').innerHTML = outputList;
}

window.onload = getAllHeadings;


window.onbeforeunload = function () {
  window.scrollTo(0, 0);
}

</script>