<!DOCTYPE html>
<html lang="ro">
	<style>html{scroll-behavior: smooth;} </style>
{% include head.html %}

{% include nav.html %}    

 
<div class="site-content"> <!-- full width container  -->

    {{ content }}
  
  
</div>
{% if page.layout != "map" %}
{% include footer.html %}  
{% endif %}
	
<script async>

	
// Sticky elements for the menu
let list = [],x = [], continut, he, outputList = '', bottom, rect;

function toggleShow() {
  var toc = document.getElementById('tocid');
  var state = toc.style.display;

  if (state === "none" || state === "") {
    toc.style.display = "block";

    var mobileActivate = document.getElementById('mobileActivate');

    // Check if the close button already exists
    var existingCloseButton = mobileActivate.querySelector('.close-button');
    if (!existingCloseButton) {
      // Create and append the close button
      var closeButton = document.createElement('span');
      closeButton.innerHTML = 'x';
      closeButton.classList.add('close-button');
      closeButton.style.cssText = 'position: absolute; top: 0; right: -8px; cursor: pointer; padding: 3px; background: #329932; color: white; font-size: xx-large; font-weight: bold; border-radius: 6px; padding-bottom: 8px;';

      // Add an event listener to close the TOC on click
      closeButton.addEventListener('click', function() {
        toc.style.display = 'none';
        // Optionally remove the close button when TOC is hidden
        mobileActivate.removeChild(this);
      });

      // Append the close button to mobileActivate
      mobileActivate.appendChild(closeButton);
    }
  } else {
    toc.style.display = "none";
    // Optionally remove the close button when TOC is hidden
    var closeButton = document.getElementById('mobileActivate').querySelector('.close-button');
    if (closeButton) closeButton.parentElement.removeChild(closeButton);
  }
}

function getAllHeadings() {
    var continut = document.getElementById('continut');
    var he = continut.getElementsByTagName('h2');
    var list = [];
    var outputList = '';

    for (var i = 0; i < he.length; i++) {
        list.push(he[i].id);  // Schimbat din innerHTML la id
    }

    for (var i = 0; i < list.length; i++) {
        outputList += `
        <!-- begin post -->
            <li><a href="#${list[i]}">${he[i].innerHTML}</a></li>
        <!-- end post -->`    
    };

    document.getElementById('outputList').innerHTML = outputList;
}


window.onload = getAllHeadings;


</script>
  
  
<style>
	.custom-link {
		border-radius: 10px;
    box-shadow: 0 0 15px -4px #918989ad;
    padding: 20px;
		margin-bottom: 10px;
		border: solid 1px #ebe6e6;
	}	
	.custom-link p {
		margin-bottom: 0;
	}
</style>