---
layout: empty
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div class="container">
	<div class="row">   
    
                <!-- Post Title -->
				 
                
			</div>

			<!-- Post Featured Image -->
			{% if page.image %}<img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | absolute_url }}{% endif %}" alt="{{ page.title }}">{% endif %}
			<!-- End Featured Image -->
				
			<!-- Post Content -->
			<div class="article-post">
				{{content}}
			</div>

            
		</div>
		<!-- End Post -->

	</div>
</div>
<!-- End Article
================================================== -->